Repository gacybercenter/kinetic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: salt-lint, pylint, pages

salt-lint:
  stage: lint
  tags:
  - docker
  script:
  - pip install salt-lint
  - salt-lint --json --severity $(find . -name \*.sls) > codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always

pylint:
  stage: lint
  tags:
  - docker
  image: python:slim
  before_script:
  - pip install pylint_gitlab
  script:
  - pylint --exit-zero --output-format=text $(find ./_modules ./_runners ./_states -type f -name "*.py") | tee /tmp/pylint.txt
  ...

pages:
  tags:
  - docker-gcc
  stage: pages
  image:
    name: antora/antora:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  - echo 'nav:' >> docs/antora.yml
  - echo '  - modules/documentation/nav.adoc' >> docs/antora.yml
  - antora site.yml --stacktrace
  ...

Fix placement formula include path
  formulas/osh-placement/configure.sls
Due: salt-lint

Add wait: False flag to nova helm install
  formulas/nova/configure.sls
Due: salt-lint

Disable wait for Neutron chart installation
  formulas/neutron/configure.sls
Due: salt-lint

Create orchestration script for OpenStack Helm Neutron deployment
  orch/k8s-osh-neutron.sls
Due: salt-lint

Add libvirt_ceph_secret to Ceph configuration
  formulas/nova/configure.sls
  formulas/osh-libvirt/configure.sls
Due: salt-lint

Add RBD secret UUID config to Cinder
  formulas/cinder/configure.sls
Due: salt-lint

Add encrypted Ceph secret UUID to Cinder and Libvirt configs
  formulas/cinder/configure.sls
  formulas/osh-libvirt/configure.sls
Due: salt-lint

Fix RBD secret UUID configuration paths
  formulas/cinder/configure.sls
Due: salt-lint

Add nova pillar.example with default configuration values
  formulas/nova/pillar.example
Due: salt-lint

Rename nova formula files to old subdirectory
  formulas/old/nova/configure.sls
  formulas/old/nova/files/nova.conf
  formulas/old/nova/install.sls
Due: salt-lint

Add LDAP service accounts and olcAccess state support
  _modules/ldap_utils.py
  _states/ldap.py
  formulas/common/ldapadmin/prov.sls
Due: salt-lint, pylint

Add pwdPolicySubentry support for service accounts
  _modules/ldap_utils.py
  _states/ldap.py
  formulas/common/ldapadmin/prov.sls
Due: salt-lint, pylint

Fix ldap_utils overlay check to use dn_exists
  _modules/ldap_utils.py
Due: pylint

Add overlay lookup to handle arbitrary {N} indices and ALREADY_EXISTS
  _modules/ldap_utils.py
Due: pylint

Skip update of overlay RDN and objectClass attributes
  _modules/ldap_utils.py
Due: pylint

Add missing endif to close client scope loop
  formulas/keycloak/realms.sls
Due: salt-lint

Fix provider type checks and updates in user_federation_present
  _modules/kinetic-keycloak.py
Due: pylint

Update user federation by delete+recreate instead of PUT
  _modules/kinetic-keycloak.py
Due: pylint

Add list_component_providers diagnostic helper Add list_component_providers diagnostic helper
  _modules/kinetic-keycloak.py
Due: pylint

Add Kubernetes secret for Keycloak admin API access
  formulas/keycloak/install.sls
Due: salt-lint

Split password/ppolicy ACLs for granular access control
  formulas/common/ldapadmin/prov.sls
Due: salt-lint

Add services read ACL for ou=groups subtree
  formulas/common/ldapadmin/prov.sls
Due: salt-lint

Keep passwordHistory(N) on Keycloak policy apply and add optional OpenLDAP ppolicy.
  .nist-controls.yml
  _modules/kinetic-keycloak.py
  _modules/ldap_utils.py
  _states/ldap.py
  docs/kinetic-keycloak.md
  formulas/common/ldap/README.md
  formulas/common/ldapadmin/init.sls
  formulas/common/ldapadmin/ppolicy.sls
  formulas/keycloak/PILLAR-EXAMPLE.md
  formulas/keycloak/realms.sls
Due: salt-lint, pylint, pages

Mount a Keycloak login theme that shows a pillar-supplied notice before credentials.
  .nist-controls.yml
  docs/kinetic-keycloak.md
  formulas/keycloak/PILLAR-EXAMPLE.md
  formulas/keycloak/files/theme-values.yaml.j2
  formulas/keycloak/install.sls
  formulas/keycloak/realms.sls
  formulas/keycloak/themes/gcr-login/login/login.ftl
  formulas/keycloak/themes/gcr-login/login/resources/css/notice.css
  formulas/keycloak/themes/gcr-login/login/theme.properties
Due: salt-lint, pages

Lock unused OpenLDAP identifiers after N days with no Keycloak LOGIN.
  .nist-controls.yml
  _modules/kinetic-k8s.py
  _modules/kinetic-os.py
  _modules/kinetic_identity.py
  _modules/ldap_utils.py
  _runners/identity.py
  _states/k8s.py
  formulas/common/ldap/README.md
  formulas/common/ldapadmin/files/disable_inactive.py
  formulas/common/ldapadmin/inactivity.sls
  formulas/common/ldapadmin/init.sls
Due: salt-lint, pylint

Pin Guacamole USB off, tag the common Salt baseline, and add a dry-run patch schedule.
  .nist-controls.yml
  formulas/common/base.sls
  formulas/common/nftables/nftables.sls
  formulas/common/patching/security-updates.sls
  formulas/common/sysctl/files/sysctl.conf
  formulas/guacamole/configure.sls
  formulas/guacamole/files/pin_usb_off.py
  formulas/guacamole/install.sls
  formulas/nova/files/nova.conf
Due: salt-lint

Path conditions:
  salt-lint: any of: formulas/**/*, orch/**/*, reactor/**/*
  pylint: any of: _grains/**/*, _modules/**/*, _runners/**/*, _states/**/*
  pages: any of: site.yml, docs/**/*
