Repository gacybercenter/kinetic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: salt-lint, pylint, pages

.gitlab-ci.yml:

image: python:slim

stages:
  - lint
  - pages

salt-lint:
  stage: lint
  tags:
    - docker
  script:
    - pip install salt-lint
    - salt-lint --json --severity $(find . -name \*.sls) > codeclimate.json
  only:
    changes:
      - formulas/**/*
      - orch/**/*
      - reactor/**/*
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always

pylint:
  stage: lint
  tags:
    - docker
  image: python:slim
  before_script:
    - pip install pylint_gitlab
  script:
    - pylint --exit-zero --output-format=text $(find ./_modules ./_runners ./_states -type f -name "*.py") | tee /tmp/pylint.txt
    - pylint --exit-zero --output-format=pylint_gitlab.GitlabCodeClimateReporter $(find ./_modules ./_runners ./_states -type f -name "*.py") >> codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always
  only:
    changes:
      - _grains/**/*
      - _modules/**/*
      - _runners/**/*
      - _states/**/*

pages:
  tags:
    - docker-gcc
  stage: pages
  image:
    name: antora/antora:latest
    entrypoint: [/bin/sh, -c]
  script:
    - echo 'nav:' >> docs/antora.yml
    - echo '  - modules/documentation/nav.adoc' >> docs/antora.yml
    - antora site.yml --stacktrace
    - echo '<html><meta http-equiv="refresh" content="0; url=./docs/latest/index.html"/></html>' > public/index.html
  artifacts:
    expire_in: 3 month
    paths:
      - public
  only:
    changes:
      - site.yml
      - docs/**/*

set
  _states/nexusproxy.py
Due: pylint

compare set
  _states/nexusproxy.py
Due: pylint

loads
  _states/nexusproxy.py
Due: pylint

no loads
  _states/nexusproxy.py
Due: pylint

dumps
  _states/nexusproxy.py
Due: pylint

pass as a list
  formulas/cache/configure.sls
Due: salt-lint

list
  _states/nexusproxy.py
Due: pylint

unloads
  _states/nexusproxy.py
Due: pylint

compare strings
  _states/nexusproxy.py
Due: pylint

list not string
  formulas/cache/configure.sls
Due: salt-lint

changed bootstrap
  formulas/controller/files/common.userdata
Due: salt-lint

typo
  formulas/controller/files/common.userdata
Due: salt-lint

change bootstrap
  formulas/controller/files/common.userdata
Due: salt-lint

add key
  formulas/controller/files/common.userdata
Due: salt-lint

changed shell
  formulas/controller/files/common.userdata
Due: salt-lint

changed versions
  formulas/controller/files/common.userdata
Due: salt-lint

enable ubuntu login
  formulas/controller/files/common.userdata
Due: salt-lint

removed sh executes
  formulas/controller/files/common.userdata
Due: salt-lint

retry isn't working atm
  formulas/controller/files/common.userdata
Due: salt-lint

_ underscore
  formulas/controller/files/common.userdata
Due: salt-lint

error in bootstrap url
  formulas/controller/files/common.userdata
Due: salt-lint

correct path
  formulas/controller/files/common.userdata
Due: salt-lint

json loads
  _states/nexusproxy.py
Due: pylint

Resolve "A docker quay proxies for apt-cache deployments"
  _modules/nexusproxy.py
  _states/nexusproxy.py
  formulas/cache/configure.sls
  formulas/cache/install.sls
  formulas/cinder/files/cinder.conf
  formulas/common/base.sls
  formulas/common/nftables/nftables.sls
  formulas/compute/files/nova.conf
  formulas/controller/files/common.userdata
  formulas/guacamole/configure.sls
  formulas/guacamole/install.sls
  formulas/horizon/files/local_settings.py
  formulas/horizon/install.sls
  formulas/mysql/files/mariadb.service
  formulas/nova/files/nova.conf
  formulas/pxe/files/common.autoinstall
  formulas/pxe/files/dhcp4.json
  formulas/volume/files/cinder.conf
  formulas/zun/configure.sls
  formulas/zun/files/zun-api.service
  formulas/zun/files/zun-wsproxy.service
  formulas/zun/install.sls
  orch/provision.sls
Due: salt-lint, pylint

Revert "Merge branch '174-a-docker-quay-proxies-for-apt-cache-deployments' into 'master'"
  _modules/nexusproxy.py
  _states/nexusproxy.py
  formulas/cache/configure.sls
  formulas/cache/install.sls
  formulas/cinder/files/cinder.conf
  formulas/common/base.sls
  formulas/common/nftables/nftables.sls
  formulas/compute/files/nova.conf
  formulas/controller/files/common.userdata
  formulas/guacamole/configure.sls
  formulas/guacamole/install.sls
  formulas/horizon/files/local_settings.py
  formulas/horizon/install.sls
  formulas/mysql/files/mariadb.service
  formulas/nova/files/nova.conf
  formulas/pxe/files/common.autoinstall
  formulas/pxe/files/dhcp4.json
  formulas/volume/files/cinder.conf
  formulas/zun/configure.sls
  formulas/zun/files/zun-api.service
  formulas/zun/files/zun-wsproxy.service
  formulas/zun/install.sls
  orch/provision.sls
Due: salt-lint, pylint

[feature] docker quay proxies for apt cache deployments
  _modules/nexusproxy.py
  _states/nexusproxy.py
  formulas/cache/configure.sls
  formulas/cache/install.sls
  formulas/controller/files/common.userdata
Due: salt-lint, pylint

add port for gitlab
  formulas/cache/install.sls
Due: salt-lint

2024.1 caracal
  _modules/nexusproxy.py
  _states/nexusproxy.py
  formulas/cache/configure.sls
  formulas/cache/install.sls
  formulas/cinder/files/cinder.conf
  formulas/common/base.sls
  formulas/common/networking.sls
  formulas/common/nftables/init.sls
  formulas/common/nftables/nftables.sls
  formulas/compute/files/nova.conf
  formulas/controller/files/common.userdata
  formulas/guacamole/configure.sls
  formulas/guacamole/install.sls
  formulas/horizon/files/local_settings.py
  formulas/horizon/install.sls
  formulas/mysql/files/mariadb.service
  formulas/nova/files/nova.conf
  formulas/pxe/files/common.autoinstall
  formulas/pxe/files/dhcp4.json
  formulas/volume/files/cinder.conf
  formulas/zun/configure.sls
  formulas/zun/files/zun-api.service
  formulas/zun/files/zun-wsproxy.service
  formulas/zun/install.sls
  orch/provision.sls
Due: salt-lint, pylint

Revert "Merge branch '2024.1-Caracal' into 'on-prem-dev'"
  _modules/nexusproxy.py
  _states/nexusproxy.py
  formulas/cache/configure.sls
  formulas/cache/install.sls
  formulas/cinder/files/cinder.conf
  formulas/common/base.sls
  formulas/common/networking.sls
  formulas/common/nftables/init.sls
  formulas/common/nftables/nftables.sls
  formulas/compute/files/nova.conf
  formulas/controller/files/common.userdata
  formulas/guacamole/configure.sls
  formulas/guacamole/install.sls
  formulas/horizon/files/local_settings.py
  formulas/horizon/install.sls
  formulas/mysql/files/mariadb.service
  formulas/nova/files/nova.conf
  formulas/pxe/files/common.autoinstall
  formulas/pxe/files/dhcp4.json
  formulas/volume/files/cinder.conf
  formulas/zun/configure.sls
  formulas/zun/files/zun-api.service
  formulas/zun/files/zun-wsproxy.service
  formulas/zun/install.sls
  orch/provision.sls
Due: salt-lint, pylint

reenable nftables
  formulas/common/nftables/nftables.sls
Due: salt-lint

ipxe directory isn't being created elsewhere
  formulas/pxe/configure.sls
Due: salt-lint

typo
  formulas/pxe/configure.sls
Due: salt-lint

make instead of 'mk'
  formulas/pxe/configure.sls
Due: salt-lint

com for dir already existing from conf-files
  formulas/pxe/configure.sls
Due: salt-lint

conf-files should require ipxe to run first
  formulas/pxe/configure.sls
Due: salt-lint

decom .original suf
  formulas/controller/configure.sls
Due: salt-lint

test
  formulas/controller/files/common.xml
Due: salt-lint
