Repository gacybercenter/kinetic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: salt-lint, pylint, pages

.gitlab-ci.yml:

image: python:slim

stages:
  - lint
  - pages

salt-lint:
  stage: lint
  tags:
    - docker
  script:
    - pip install salt-lint
    - salt-lint --json --severity $(find . -name \*.sls) > codeclimate.json
  only:
    changes:
      - formulas/**/*
      - orch/**/*
      - reactor/**/*
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always

pylint:
  stage: lint
  tags:
    - docker
  image: python:slim
  before_script:
    - pip install pylint_gitlab
  script:
    - pylint --exit-zero --output-format=text $(find ./_modules ./_runners ./_states -type f -name "*.py") | tee /tmp/pylint.txt
    - pylint --exit-zero --output-format=pylint_gitlab.GitlabCodeClimateReporter $(find ./_modules ./_runners ./_states -type f -name "*.py") >> codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always
  only:
    changes:
      - _grains/**/*
      - _modules/**/*
      - _runners/**/*
      - _states/**/*

pages:
  tags:
    - docker-gcc
  stage: pages
  image:
    name: antora/antora:latest
    entrypoint: [/bin/sh, -c]
  script:
    - echo 'nav:' >> docs/antora.yml
    - echo '  - modules/documentation/nav.adoc' >> docs/antora.yml
    - antora site.yml --stacktrace
    - echo '<html><meta http-equiv="refresh" content="0; url=./docs/latest/index.html"/></html>' > public/index.html
  artifacts:
    expire_in: 3 month
    paths:
      - public
  only:
    changes:
      - site.yml
      - docs/**/*

cluster
  formulas/keycloak/configure.sls
Due: salt-lint

removed email from request
  _modules/kinetic-k8s.py
Due: pylint

renamed secret name
  formulas/keycloak/configure.sls
Due: salt-lint

keycloak
  formulas/keycloak/configure.sls
Due: salt-lint

port number
  formulas/keycloak/configure.sls
Due: salt-lint

internal and external
  formulas/common/k8s-ingress-controller/configure.sls
  formulas/common/k8s-ingress-controller/init.sls
  formulas/common/k8s-ingress-controller/install.sls
  formulas/common/k8s-nginx-controller/configure.sls
  formulas/common/k8s-nginx-controller/install.sls
Due: salt-lint

ingress
  orch/k8s-ingress-controller.sls
Due: salt-lint

rename
  formulas/common/k8s-ingress-controller/init.sls
Due: salt-lint

uo
  formulas/common/k8s-ingress-controller/configure.sls
Due: salt-lint

ingress
  formulas/common/k8s-ingress-controller/install.sls
Due: salt-lint

use helm to install svc
  formulas/common/k8s-ingress-controller/configure.sls
Due: salt-lint

specify loadbalancer
  formulas/common/k8s-ingress-controller/install.sls
Due: salt-lint

spec
  formulas/common/k8s-ingress-controller/install.sls
Due: salt-lint

Resolve "refactor ingress config"
  formulas/common/k8s-ingress-controller/configure.sls
  formulas/common/k8s-ingress-controller/init.sls
  formulas/common/k8s-ingress-controller/install.sls
Due: salt-lint

tls
  formulas/keycloak/configure.sls
Due: salt-lint

db host
  formulas/keycloak/configure.sls
Due: salt-lint

ingress rule
  formulas/keycloak/configure.sls
Due: salt-lint

typo
  formulas/keycloak/configure.sls
Due: salt-lint

keycloak
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/keycloak/configure.sls
Due: salt-lint, pylint

typo in username
  _modules/kinetic-k8s.py
Due: pylint

debug
  _modules/kinetic-k8s.py
Due: pylint

auth
  formulas/keycloak/configure.sls
Due: salt-lint

xforwarded
  formulas/keycloak/configure.sls
Due: salt-lint

nginx drop-in replacement
  formulas/common/k8s-ingress-controller/install.sls
Due: salt-lint

addtional arguments
  formulas/common/k8s-ingress-controller/install.sls
Due: salt-lint

debug ingress
  formulas/common/k8s-ingress-controller/install.sls
Due: salt-lint

skip selfsigned certs
  formulas/common/k8s-ingress-controller/install.sls
Due: salt-lint

keycloak ingress
  formulas/keycloak/configure.sls
Due: salt-lint

implemention specific
  formulas/keycloak/configure.sls
Due: salt-lint

debug update
  _modules/kinetic-k8s.py
Due: pylint

debug ingress
  _modules/kinetic-k8s.py
Due: pylint

handle hostname
  _modules/kinetic-k8s.py
  formulas/keycloak/configure.sls
Due: salt-lint, pylint

typo
  _modules/kinetic-k8s.py
Due: pylint

string
  _modules/kinetic-k8s.py
Due: pylint

boolean
  _modules/kinetic-k8s.py
Due: pylint
