Repository gacybercenter/kinetic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: salt-lint, pylint, pages

salt-lint:
  stage: lint
  tags:
  - docker
  script:
  - pip install salt-lint
  - salt-lint --json --severity $(find . -name \*.sls) > codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always

pylint:
  stage: lint
  tags:
  - docker
  image: python:slim
  before_script:
  - pip install pylint_gitlab
  script:
  - pylint --exit-zero --output-format=text $(find ./_modules ./_runners ./_states -type f -name "*.py") | tee /tmp/pylint.txt
  ...

pages:
  tags:
  - docker-gcc
  stage: pages
  image:
    name: antora/antora:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  - echo 'nav:' >> docs/antora.yml
  - echo '  - modules/documentation/nav.adoc' >> docs/antora.yml
  - antora site.yml --stacktrace
  ...

adjusted file perms
  formulas/ironic-operator/install.sls
Due: salt-lint

safe directory
  formulas/ironic-operator/install.sls
Due: salt-lint

change secrets name
  formulas/ironic-operator/install.sls
Due: salt-lint

adjust permissions
  formulas/ironic-operator/install.sls
Due: salt-lint

create user grant
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/ironic-operator/install.sls
Due: salt-lint, pylint

username
  formulas/ironic-operator/install.sls
Due: salt-lint

change ironic_mariadb
  formulas/ironic-operator/install.sls
Due: salt-lint

handle database
  _modules/kinetic-k8s.py
Due: pylint

ironic database
  formulas/ironic-operator/install.sls
Due: salt-lint

no database
  _modules/kinetic-k8s.py
Due: pylint

database
  formulas/ironic-operator/install.sls
Due: salt-lint

add database option
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/ironic-operator/install.sls
Due: salt-lint, pylint

changed database name
  formulas/ironic-operator/install.sls
Due: salt-lint

setup more verbose output
  _modules/kinetic-k8s.py
Due: pylint

more verbose
  _modules/kinetic-k8s.py
Due: pylint

resourceVersion
  _modules/kinetic-k8s.py
Due: pylint

added admin host ip
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/ironic-operator/install.sls
Due: salt-lint, pylint

removed database from init
  formulas/ironic-operator/install.sls
Due: salt-lint

create database
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/ironic-operator/install.sls
Due: salt-lint, pylint

deploy op
  formulas/ironic-operator/install.sls
Due: salt-lint

require depend is installed
  formulas/ironic-operator/install.sls
Due: salt-lint

document sql
  formulas/ironic-operator/readme.md
Due: salt-lint

Resolve "[feature] add external sql db to ironic install of bmo"
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/bmo/configure copy.sls
  formulas/bmo/install.sls
  formulas/bmo/install_old.sls
  formulas/common/helm/install.sls
  formulas/common/k8s-mariadb/init.sls
  formulas/common/k8s-mariadb/install.sls
  formulas/ironic-operator/init.sls
  formulas/ironic-operator/install.sls
  formulas/ironic-operator/readme.md
  test.yaml
Due: salt-lint, pylint

add crypto to salt-pip
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/ironic-operator/install.sls
Due: salt-lint, pylint

create ironic tls
  formulas/ironic-operator/install.sls
Due: salt-lint

base64 module
  _modules/kinetic-k8s.py
Due: pylint

base64
  _modules/kinetic-k8s.py
Due: pylint

make sure import
  _modules/kinetic-k8s.py
  _states/k8s.py
Due: pylint

namespace
  formulas/ironic-operator/install.sls
Due: salt-lint

Resolve "[feature] add self signed tls secret"
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/ironic-operator/install.sls
Due: salt-lint, pylint

reorg install config files
  formulas/ironic-operator/config.sls
  formulas/ironic-operator/files/ironic_kustom.yaml.j2
  formulas/ironic-operator/install.sls
Due: salt-lint

reorg install config path
  formulas/ironic-operator/configure.sls
  formulas/ironic-operator/init.sls
Due: salt-lint

make sure operator instaalled
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/ironic-operator/configure.sls
Due: salt-lint, pylint

irso_namespace
  formulas/ironic-operator/files/ironic_kustom.yaml.j2
Due: salt-lint

mariadb namespace
  formulas/common/k8s-mariadb/install.sls
Due: salt-lint

create ns
  formulas/common/k8s-mariadb/install.sls
Due: salt-lint

Path conditions:
  salt-lint: any of: formulas/**/*, orch/**/*, reactor/**/*
  pylint: any of: _grains/**/*, _modules/**/*, _runners/**/*, _states/**/*
  pages: any of: site.yml, docs/**/*
