Repository gacybercenter/kinetic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: salt-lint, pylint, pages

.gitlab-ci.yml:

image: python:slim

stages:
  - lint
  - pages

salt-lint:
  stage: lint
  tags:
    - docker
  script:
    - pip install salt-lint
    - salt-lint --json --severity $(find . -name \*.sls) > codeclimate.json
  only:
    changes:
      - formulas/**/*
      - orch/**/*
      - reactor/**/*
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always

pylint:
  stage: lint
  tags:
    - docker
  image: python:slim
  before_script:
    - pip install pylint_gitlab
  script:
    - pylint --exit-zero --output-format=text $(find ./_modules ./_runners ./_states -type f -name "*.py") | tee /tmp/pylint.txt
    - pylint --exit-zero --output-format=pylint_gitlab.GitlabCodeClimateReporter $(find ./_modules ./_runners ./_states -type f -name "*.py") >> codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always
  only:
    changes:
      - _grains/**/*
      - _modules/**/*
      - _runners/**/*
      - _states/**/*

pages:
  tags:
    - docker-gcc
  stage: pages
  image:
    name: antora/antora:latest
    entrypoint: [/bin/sh, -c]
  script:
    - echo 'nav:' >> docs/antora.yml
    - echo '  - modules/documentation/nav.adoc' >> docs/antora.yml
    - antora site.yml --stacktrace
    - echo '<html><meta http-equiv="refresh" content="0; url=./docs/latest/index.html"/></html>' > public/index.html
  artifacts:
    expire_in: 3 month
    paths:
      - public
  only:
    changes:
      - site.yml
      - docs/**/*

Simplify auth_args handling in OpenStack connection setup
  _modules/kinetic-openstack.py
Due: pylint

Rename auth_args to cloud in OpenStack module and state files
  _modules/kinetic-openstack.py
  _states/kinetic-openstack.py
  formulas/common/ldapadmin/configure.sls
Due: salt-lint, pylint

Fix auth_args parameter to cloud in get_projects call
  _states/kinetic-openstack.py
Due: pylint

Filter out duplicate 'cloud' parameter in kwargs
  _states/kinetic-openstack.py
Due: pylint

Remove enabled parameter from project_present function
  _states/kinetic-openstack.py
Due: pylint

Add update_project function to manage OpenStack project attributes
  _modules/kinetic-openstack.py
Due: pylint

Enhance project update to track and report actual changes
  _modules/kinetic-openstack.py
  _states/kinetic-openstack.py
Due: pylint

Enhance project update logic in kinetic-openstack
  _states/kinetic-openstack.py
Due: pylint

Enhance project update verification in kinetic-openstack
  _states/kinetic-openstack.py
Due: pylint

Add more project details in get_projects function
  _modules/kinetic-openstack.py
  _states/kinetic-openstack.py
Due: pylint

Add function to check OpenStack role assignments
  _modules/kinetic-openstack.py
Due: pylint

Add conditional updates for project description and status
  _states/kinetic-openstack.py
Due: pylint

Add LDAP connection setup and group management in ldapadmin
  formulas/common/ldapadmin/configure.sls
Due: salt-lint

Fix indentation for members list in LDAP group configuration
  formulas/common/ldapadmin/configure.sls
Due: salt-lint

Update LDAP base DN retrieval from pillar values
  formulas/common/ldapadmin/configure.sls
Due: salt-lint

Fix syntax error in LDAP bind DN concatenation
  formulas/common/ldapadmin/configure.sls
Due: salt-lint

Update LDAP group management to use ldap.group_present
  formulas/common/ldapadmin/configure.sls
Due: salt-lint

Add default admin to LDAP project group if no members exist
  formulas/common/ldapadmin/configure.sls
Due: salt-lint

Add dynamic admin members to LDAP group configuration
  formulas/common/ldapadmin/configure.sls
Due: salt-lint

Add conditional to skip admin group creation in LDAP config
  formulas/common/ldapadmin/configure.sls
Due: salt-lint

Modify LDAP admin group condition to exclude 'admins' group
  formulas/common/ldapadmin/configure.sls
Due: salt-lint

Fix indentation in ldapadmin configure.sls template
  formulas/common/ldapadmin/configure.sls
Due: salt-lint

Add conditional LDAP group configuration for non-admin groups
  formulas/common/ldapadmin/configure.sls
Due: salt-lint

Remove memoize decorator from virtual function
  _modules/kinetic-k8s.py
Due: pylint

Add detailed debug logging to Kubernetes certificate management
  _modules/kinetic-k8s.py
  _states/k8s.py
Due: pylint

Replace log with __salt__["log"] in certmanager_certificate_present
  _states/k8s.py
Due: pylint

Add fallback for missing kinetic-k8s certificate module
  _states/k8s.py
Due: pylint

Fix nested log debug calls in certmanager_certificate_present
  _states/k8s.py
Due: pylint

Update module name and remove redundant debug logs
  _modules/kinetic-k8s.py
  _states/k8s.py
Due: pylint

Replace log module with __salt__['log'] in k8s certificate handling
  _modules/kinetic-k8s.py
  _states/k8s.py
Due: pylint

Fix incorrect change key and error message in k8s state
  _states/k8s.py
Due: pylint

Fix module name in ingress_present function
  _states/k8s.py
Due: pylint

Add POSIX support for LDAP user and group management
  _modules/ldap_utils.py
Due: pylint

[deploy] Check for attribute mismatch in LDAP group update
  _modules/ldap_utils.py
Due: pylint

Add posixGroup check and update for LDAP group attributes
  _modules/ldap_utils.py
Due: pylint

Force group updates to ensure posixGroup configuration
  _modules/ldap_utils.py
Due: pylint

Add POSIX support for LDAP user and group management
  _states/ldap.py
Due: pylint

Add debug and error logging for group update operations
  _modules/ldap_utils.py
Due: pylint

Add error logging for non-existent group during update check
  _modules/ldap_utils.py
Due: pylint

Add checks for ldap_utils module availability
  _states/ldap.py
Due: pylint
