Repository gacybercenter/kinetic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: salt-lint, pylint, pages

.gitlab-ci.yml:

image: python:slim

stages:
  - lint
  - pages

salt-lint:
  stage: lint
  tags:
    - docker
  script:
    - pip install salt-lint
    - salt-lint --json --severity $(find . -name \*.sls) > codeclimate.json
  only:
    changes:
      - formulas/**/*
      - orch/**/*
      - reactor/**/*
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always

pylint:
  stage: lint
  tags:
    - docker
  image: python:slim
  before_script:
    - pip install pylint_gitlab
  script:
    - pylint --exit-zero --output-format=text $(find ./_modules ./_runners ./_states -type f -name "*.py") | tee /tmp/pylint.txt
    - pylint --exit-zero --output-format=pylint_gitlab.GitlabCodeClimateReporter $(find ./_modules ./_runners ./_states -type f -name "*.py") >> codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always
  only:
    changes:
      - _grains/**/*
      - _modules/**/*
      - _runners/**/*
      - _states/**/*

pages:
  tags:
    - docker-gcc
  stage: pages
  image:
    name: antora/antora:latest
    entrypoint: [/bin/sh, -c]
  script:
    - echo 'nav:' >> docs/antora.yml
    - echo '  - modules/documentation/nav.adoc' >> docs/antora.yml
    - antora site.yml --stacktrace
    - echo '<html><meta http-equiv="refresh" content="0; url=./docs/latest/index.html"/></html>' > public/index.html
  artifacts:
    expire_in: 3 month
    paths:
      - public
  only:
    changes:
      - site.yml
      - docs/**/*

add admin
  formulas/keycloak/configure.sls
Due: salt-lint

setup hostname
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/keycloak/configure.sls
Due: salt-lint, pylint

renamed host
  _modules/kinetic-k8s.py
Due: pylint

removed admin path
  _modules/kinetic-k8s.py
Due: pylint

removed admin path
  formulas/keycloak/configure.sls
Due: salt-lint

admin console
  _modules/kinetic-k8s.py
Due: pylint

admin
  _modules/kinetic-k8s.py
Due: pylint

admin console
  _modules/kinetic-k8s.py
  formulas/keycloak/configure.sls
Due: salt-lint, pylint

setup
  formulas/keycloak/configure.sls
Due: salt-lint

added admin console
  formulas/keycloak/configure.sls
Due: salt-lint

removed admin console
  formulas/keycloak/configure.sls
Due: salt-lint

ingress ip whitelist
  formulas/keycloak/configure.sls
Due: salt-lint

ingress whitelip
  formulas/keycloak/configure.sls
Due: salt-lint

annos
  formulas/keycloak/configure.sls
Due: salt-lint

name ingress
  formulas/keycloak/configure.sls
Due: salt-lint

admin console
  formulas/keycloak/configure.sls
Due: salt-lint

Add initial LDAP configuration files
  formulas/common/ldap/configure.sls
  formulas/common/ldap/init.sls
  formulas/common/ldap/install.sls
Due: salt-lint

Normalize quote style in kinetic-k8s module
  _modules/kinetic-k8s.py
Due: pylint

Format k8s state module with consistent string quotes and styling
  _states/k8s.py
Due: pylint

Add OpenLDAP installation with Helm and TLS certificate setup
  formulas/common/ldap/install.sls
Due: salt-lint

Move LDAP TLS certificate configuration to separate file
  formulas/common/ldap/configure.sls
  formulas/common/ldap/install.sls
Due: salt-lint

Remove extra blank lines in LDAP install script
  formulas/common/ldap/install.sls
Due: salt-lint

Remove redundant require statement for OpenLDAP HA install
  formulas/common/ldap/install.sls
Due: salt-lint

Add PersistentVolumeClaim for LDAP storage
  formulas/common/ldap/configure.sls
Due: salt-lint

Add SaltStack configuration for LDAP setup
  formulas/common/ldap/configure.sls
  formulas/common/ldap/init.sls
Due: salt-lint

Update k8s-auth script to include LDAP deployment
  orch/k8s-auth.sls
Due: salt-lint

Update LDAP configuration to fetch values from pillar data
  formulas/common/ldap/install.sls
Due: salt-lint

Comment out LDAP TLS certificate and PVC configuration states
  formulas/common/ldap/configure.sls
Due: salt-lint

Update configure.sls
  formulas/common/ldap/configure.sls
Due: salt-lint

Add Ingress configuration for LDAP external traffic
  formulas/common/ldap/configure.sls
Due: salt-lint

Update LDAP formula reference in k8s-auth orchestration
  orch/k8s-auth.sls
Due: salt-lint

Update LDAP ingress to reference k8s state for TLS cert
  formulas/common/ldap/configure.sls
Due: salt-lint

Add certificate_name parameter to LDAP TLS cert configuration
  formulas/common/ldap/configure.sls
Due: salt-lint

Refactor Cert-Manager Certificate function for explicit parameters
  _modules/kinetic-k8s.py
  _states/k8s.py
Due: pylint

Remove truncation from error messages in certificate management
  _modules/kinetic-k8s.py
Due: pylint

Simplify spec creation and comparison in certmanager_certificate_present
  _modules/kinetic-k8s.py
Due: pylint

Remove deprecated 'name' parameter from LDAP TLS cert config
  formulas/common/ldap/configure.sls
Due: salt-lint
