Repository gacybercenter/kinetic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: salt-lint, pylint, pages

salt-lint:
  stage: lint
  tags:
  - docker
  script:
  - pip install salt-lint
  - salt-lint --json --severity $(find . -name \*.sls) > codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always

pylint:
  stage: lint
  tags:
  - docker
  image: python:slim
  before_script:
  - pip install pylint_gitlab
  script:
  - pylint --exit-zero --output-format=text $(find ./_modules ./_runners ./_states -type f -name "*.py") | tee /tmp/pylint.txt
  ...

pages:
  tags:
  - docker-gcc
  stage: pages
  image:
    name: antora/antora:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  - echo 'nav:' >> docs/antora.yml
  - echo '  - modules/documentation/nav.adoc' >> docs/antora.yml
  - antora site.yml --stacktrace
  ...

managment subnet
  _modules/kinetic-k8s.py
Due: pylint

debug
  _modules/kinetic-k8s.py
Due: pylint

typo
  _modules/kinetic-k8s.py
Due: pylint

removed failback values
  _modules/kinetic-k8s.py
Due: pylint

debug statement
  _modules/kinetic-k8s.py
Due: pylint

removed some debug info
  _modules/kinetic-k8s.py
Due: pylint

clean p pillar manager
  _modules/kinetic-k8s.py
  formulas/bmo/configure.sls
Due: salt-lint, pylint

type
  formulas/bmo/configure.sls
Due: salt-lint

enclose in jinja
  formulas/bmo/configure.sls
Due: salt-lint

set type
  formulas/bmo/configure.sls
Due: salt-lint

typo
  formulas/bmo/configure.sls
Due: salt-lint

pilalr_data
  _modules/kinetic-k8s.py
Due: pylint

Resolve "[feature] add baremetal host module"
  _modules/kinetic-k8s.py
  formulas/bmo/configure copy.sls
  formulas/bmo/configure.sls
  formulas/bmo/files/bmc-auth.j2
  formulas/bmo/files/bmh-pillar-example.sls
  formulas/bmo/files/bmh.j2
  formulas/bmo/files/network-data.j2
  formulas/bmo/install.sls
Due: salt-lint, pylint

disable socket as well
  formulas/common/networking.sls
Due: salt-lint

typo
  formulas/common/networking.sls
Due: salt-lint

set public_br to manul
  formulas/common/networking.sls
Due: salt-lint

closed endif
  formulas/common/networking.sls
Due: salt-lint

port for public
  formulas/common/networking.sls
Due: salt-lint

check for public interface
  formulas/common/networking.sls
Due: salt-lint

pip system not needed
  formulas/controller/install.sls
Due: salt-lint

install pyghmi via apt
  formulas/common/install.sls
Due: salt-lint

typo
  formulas/common/install.sls
Due: salt-lint

libvirt control key
  formulas/controller/configure.sls
Due: salt-lint

add libvirt access key
  formulas/controller/configure.sls
Due: salt-lint

add vbmc
  formulas/controller/install.sls
Due: salt-lint

setup control key
  formulas/controller/configure.sls
Due: salt-lint

typo in pillar
  formulas/controller/configure.sls
Due: salt-lint

Resolve "[feature] add metal3 vbmc network"
  formulas/controller/configure.sls
  formulas/controller/install.sls
Due: salt-lint

generate random mac for static ip assignment to VMs
  _modules/kinetic-libvirt.py
Due: pylint

namechjange
  _modules/kinetic-libvirt.py
Due: pylint

make sure necessary packages are installed
  formulas/bmo/install.sls
Due: salt-lint

added virtual machines orch
  formulas/bmo/configure.sls
Due: salt-lint

Path conditions:
  salt-lint: any of: formulas/**/*, orch/**/*, reactor/**/*
  pylint: any of: _grains/**/*, _modules/**/*, _runners/**/*, _states/**/*
  pages: any of: site.yml, docs/**/*
