Repository gacybercenter/kinetic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: salt-lint, pylint, pages

salt-lint:
  stage: lint
  tags:
  - docker
  script:
  - pip install salt-lint
  - salt-lint --json --severity $(find . -name \*.sls) > codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always

pylint:
  stage: lint
  tags:
  - docker
  image: python:slim
  before_script:
  - pip install pylint_gitlab
  script:
  - pylint --exit-zero --output-format=text $(find ./_modules ./_runners ./_states -type f -name "*.py") | tee /tmp/pylint.txt
  ...

pages:
  tags:
  - docker-gcc
  stage: pages
  image:
    name: antora/antora:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  - echo 'nav:' >> docs/antora.yml
  - echo '  - modules/documentation/nav.adoc' >> docs/antora.yml
  - antora site.yml --stacktrace
  ...

Update Swift certificate namespaces to rook-ceph
  formulas/swift/configure.sls
Due: salt-lint

Rename Ceph object store to rsc-object-store
  formulas/swift/configure.sls
Due: salt-lint

Remove character limit from error messages in ceph_object_store_present
  _modules/kinetic-k8s.py
Due: pylint

Switch Ceph data pool from erasure coding to replication
  _modules/kinetic-k8s.py
Due: pylint

Replace update with delete and recreate for CephObjectStore
  _modules/kinetic-k8s.py
Due: pylint

Add Keystone API version parameter for RGW authentication
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/swift/configure.sls
Due: salt-lint, pylint

Add Keystone S3 auth and implicit tenants for Ceph RGW
  _modules/kinetic-k8s.py
  _states/k8s.py
Due: pylint

Add debug_rgw parameter for Ceph Object Store configuration
  _modules/kinetic-k8s.py
  _states/k8s.py
Due: pylint

Update Keystone auth configuration for Ceph object store
  _modules/kinetic-k8s.py
  _states/k8s.py
Due: pylint

Add LDAP admin formula with install and configure states
  formulas/common/ldapadmin/configure.sls
  formulas/common/ldapadmin/init.sls
  formulas/common/ldapadmin/install.sls
Due: salt-lint

Add Kubernetes Deployment management functionality
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/common/ldapadmin/configure.sls
  orch/k8s-ldapadmin.sls
Due: salt-lint, pylint

Fix module name in kinetic-k8s and update deployment configuration
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/common/ldapadmin/configure.sls
Due: salt-lint, pylint

Add image parameter to kubernetes_deployment_present
  _states/k8s.py
Due: pylint

Fix variable naming in kinetic-k8s module and k8s state
  _modules/kinetic-k8s.py
  _states/k8s.py
Due: pylint

Rename service_account and affinities parameters in k8s module
  _states/k8s.py
Due: pylint

Remove unused parameters from kubernetes_deployment_present
  _states/k8s.py
Due: pylint

Add OpenStack project provisioning based on LDAP groups
  formulas/common/ldapadmin/configure.sls
Due: salt-lint

Add OpenStack Keystone module and state for project and role management
  _modules/openstack.py
  _states/openstack.py
Due: pylint

Add orchestration script for OpenStack LDAP administration
  orch/osh-ldapadmin.sls
Due: salt-lint

Remove conditional check for LDAP pillar data and delete k8s orchestration script
  formulas/common/ldapadmin/configure.sls
  orch/k8s-ldapadmin.sls
Due: salt-lint

Add OpenStack SDK dependency info and debug steps for LDAP groups
  _states/openstack.py
  formulas/common/ldapadmin/configure.sls
Due: salt-lint, pylint

Add support for cloud configuration in OpenStack module
  _modules/openstack.py
  formulas/common/ldapadmin/configure.sls
Due: salt-lint, pylint

Update OpenStack module to use cloud name for authentication
  _modules/openstack.py
  _states/openstack.py
Due: pylint

Add OpenStack project and role provisioning based on LDAP groups
  formulas/common/ldapadmin/configure.sls
Due: salt-lint

Update error message for OpenStack module loading
  _modules/openstack.py
Due: pylint

Simplify OpenStack module dependency check
  _modules/openstack.py
Due: pylint

Add memoization to openstack module loading
  _modules/openstack.py
Due: pylint

Add check for openstack SDK availability with detailed error
  _modules/openstack.py
Due: pylint

Remove unused HAS_OPENSTACK variable
  _modules/openstack.py
Due: pylint

Set HAS_OPENSTACK to False when import fails
  _modules/openstack.py
Due: pylint

Rename OpenStack module to kinetic-openstack
  _modules/kinetic-openstack.py
  _states/kinetic-openstack.py
  formulas/common/ldapadmin/configure.sls
Due: salt-lint, pylint

Refine module check to use specific function
  _states/kinetic-openstack.py
Due: pylint

Fix return value of __virtual__ in kinetic-openstack module
  _modules/kinetic-openstack.py
Due: pylint

Import OpenStack connection and exceptions modules
  _states/kinetic-openstack.py
Due: pylint

Update module check for kinetic-openstack state
  _states/kinetic-openstack.py
Due: pylint

Update virtual check to use get_projects in kinetic-openstack
  _states/kinetic-openstack.py
Due: pylint

Use virtualname variable in kinetic-openstack module
  _modules/kinetic-openstack.py
Due: pylint

Fix typo in kinetic-openstack.py usage section
  _states/kinetic-openstack.py
Due: pylint

Improve error handling for OpenStack module import
  _modules/kinetic-openstack.py
Due: pylint

Remove memoize decorator from __virtual__ function
  _modules/kinetic-openstack.py
Due: pylint

Path conditions:
  salt-lint: any of: formulas/**/*, orch/**/*, reactor/**/*
  pylint: any of: _grains/**/*, _modules/**/*, _runners/**/*, _states/**/*
  pages: any of: site.yml, docs/**/*
