Repository gacybercenter/kinetic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: salt-lint, pylint, pages

salt-lint:
  stage: lint
  tags:
  - docker
  script:
  - pip install salt-lint
  - salt-lint --json --severity $(find . -name \*.sls) > codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always

pylint:
  stage: lint
  tags:
  - docker
  image: python:slim
  before_script:
  - pip install pylint_gitlab
  script:
  - pylint --exit-zero --output-format=text $(find ./_modules ./_runners ./_states -type f -name "*.py") | tee /tmp/pylint.txt
  ...

pages:
  tags:
  - docker-gcc
  stage: pages
  image:
    name: antora/antora:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  - echo 'nav:' >> docs/antora.yml
  - echo '  - modules/documentation/nav.adoc' >> docs/antora.yml
  - antora site.yml --stacktrace
  ...

Add trust-manager Helm release after cert-manager
  formulas/common/k8s-certmanager/install.sls
Due: salt-lint

Remove obsolete trust-manager comments
  formulas/common/k8s-certmanager/install.sls
Due: salt-lint

Add bundles_present state and execution module
  _modules/kinetic-k8s.py
  _states/k8s.py
Due: pylint

Add CyberRange CA trust bundle distribution
  formulas/common/k8s-certmanager/configure.sls
Due: salt-lint

Remove error message truncation in bundles_present
  _modules/kinetic-k8s.py
Due: pylint

Fix cert CA pillar reference in k8s bundle
  formulas/common/k8s-certmanager/configure.sls
Due: salt-lint

Add get_configmap_value and use for keystone LDAP TLS CA
  _modules/kinetic-k8s.py
  formulas/keystone/configure.sls
  formulas/keystone/install.sls
Due: salt-lint, pylint

Fix indentation in keystone configure.sls
  formulas/keystone/configure.sls
Due: salt-lint

Add set_nested_value helper and use it for keystone CA merge
  _modules/kinetic-k8s.py
  formulas/keystone/configure.sls
Due: salt-lint, pylint

Refactor keystone values handling to use pillar_key and set_values
  formulas/keystone/configure.sls
Due: salt-lint

Fix LDAP CA value formatting in keystone config
  formulas/keystone/configure.sls
Due: salt-lint

Remove LDAP CA secret creation and Helm value
  formulas/keystone/configure.sls
  formulas/keystone/install.sls
Due: salt-lint

Fix incorrect pod configmap key in keystone chart
  formulas/keystone/configure.sls
Due: salt-lint

Replace deprecated configmap mount paths with extraVolumes
  formulas/keystone/configure.sls
Due: salt-lint

Add Keystone federation states for Keycloak OIDC
  _modules/kinetic-openstack.py
  _states/kinetic-openstack.py
  formulas/common/ldapadmin/configure.sls
  formulas/common/ldapadmin/create_users.sls
  formulas/common/ldapadmin/init.sls
  formulas/common/ldapadmin/prov.sls
  formulas/keystone/federation.sls
  formulas/keystone/init.sls
Due: salt-lint, pylint

Handle projects as mapping for one-project-per-group case
  formulas/keystone/federation.sls
Due: salt-lint

Refactor federation.sls to build deduplicated projects map first
  formulas/keystone/federation.sls
Due: salt-lint

Fix openstacksdk identity provider enabled attribute
  _modules/kinetic-openstack.py
Due: pylint

Change OIDC mapping to use groups list for multi-group support
  formulas/keystone/federation.sls
Due: salt-lint

Add SQL-backed shadow groups for OIDC federation
  _modules/kinetic-openstack.py
  _states/kinetic-openstack.py
  formulas/keystone/federation.sls
Due: salt-lint, pylint

Fix incorrect key name in federation mapping
  formulas/keystone/federation.sls
Due: salt-lint

Update federation mapping rules structure
  formulas/keystone/federation.sls
Due: salt-lint

Remove unused federated group mapping rules
  formulas/keystone/federation.sls
Due: salt-lint

Remove OIDC federation shadow groups; use local LDAP users directly
  formulas/keystone/federation.sls
Due: salt-lint

Add k8s-auth-sync orchestration SLS file
  orch/k8s-auth-sync.sls
Due: salt-lint

Add LDAP/Keycloak/Keystone federation docs
  docs/ldap-keycloak-keystone.md
  orch/k8s-auth-sync.sls
Due: salt-lint, pages

Move ceph_object_store_present to kinetic-rook and switch state to rook module
  _modules/kinetic-k8s.py
  _modules/kinetic-rook.py
  _states/k8s.py
  _states/rook.py
  formulas/swift/configure.sls
Due: salt-lint, pylint

Fix swift ingress pillar path reference
  formulas/swift/configure.sls
Due: salt-lint

Add keystone admin secret for Ceph RGW authentication
  formulas/swift/configure.sls
Due: salt-lint

Add Swift Keystone service catalog and endpoint states
  _modules/kinetic-openstack.py
  _states/kinetic-openstack.py
  formulas/swift/configure.sls
Due: salt-lint, pylint

Fix swift_cloud pillar reference in configure.sls
  formulas/swift/configure.sls
Due: salt-lint

Fix swift public endpoint URL format
  formulas/swift/configure.sls
Due: salt-lint

Fix Swift public endpoint URL construction
  formulas/swift/configure.sls
Due: salt-lint

Add region support and ensure Swift region exists before endpoints
  _modules/kinetic-openstack.py
  _states/kinetic-openstack.py
  formulas/swift/configure.sls
Due: salt-lint, pylint

Fix Swift endpoint URLs to use cluster.local domain
  formulas/swift/configure.sls
Due: salt-lint

Update Swift endpoint URLs with AUTH_%(project_id)s suffix
  formulas/swift/configure.sls
Due: salt-lint

Remove unused keystone federation dependency
  formulas/swift/configure.sls
Due: salt-lint

Remove redundant require statements from swift configuration
  formulas/swift/configure.sls
Due: salt-lint

Remove obsolete early return from ceph_object_store_present
  _modules/kinetic-rook.py
Due: pylint

Update Swift RGW Keystone admin secret to use real identity user
  formulas/swift/configure.sls
Due: salt-lint

Path conditions:
  salt-lint: any of: formulas/**/*, orch/**/*, reactor/**/*
  pylint: any of: _grains/**/*, _modules/**/*, _runners/**/*, _states/**/*
  pages: any of: site.yml, docs/**/*
