Repository gacybercenter/kinetic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: salt-lint, pylint, pages

salt-lint:
  stage: lint
  tags:
  - docker
  script:
  - pip install salt-lint
  - salt-lint --json --severity $(find . -name \*.sls) > codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always

pylint:
  stage: lint
  tags:
  - docker
  image: python:slim
  before_script:
  - pip install pylint_gitlab
  script:
  - pylint --exit-zero --output-format=text $(find ./_modules ./_runners ./_states -type f -name "*.py") | tee /tmp/pylint.txt
  ...

pages:
  tags:
  - docker-gcc
  stage: pages
  image:
    name: antora/antora:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  - echo 'nav:' >> docs/antora.yml
  - echo '  - modules/documentation/nav.adoc' >> docs/antora.yml
  - antora site.yml --stacktrace
  ...

add doc utils for rst html binary
  formulas/compute/install.sls
Due: salt-lint

installing from stable branch
  formulas/compute/install.sls
Due: salt-lint

added image property filter
  formulas/nova/files/nova.conf
Due: salt-lint

added greenbone registry
  formulas/cache/install.sls
Due: salt-lint

testing disabling auth methods
  _modules/nexusproxy.py
Due: pylint

removed http
  _modules/nexusproxy.py
Due: pylint

removed connection
  _modules/nexusproxy.py
Due: pylint

changedx key path
  formulas/common/salt/repo.sls
Due: salt-lint

changed repo url
  formulas/pxe/files/common.autoinstall
Due: salt-lint

changed repo name
  formulas/pxe/files/common.preseed
Due: salt-lint

changed cmd and repo url
  orch/zeroize.sls
Due: salt-lint

remove cmdline
  formulas/controller/files/common.xml
Due: salt-lint

Resolve "salt repo changed url"
  formulas/common/salt/repo.sls
  formulas/controller/files/common.xml
  formulas/pxe/files/common.autoinstall
  formulas/pxe/files/common.preseed
  orch/zeroize.sls
Due: salt-lint

added libudev-dev to libvirtd
  _modules/nexusproxy.py
  formulas/compute/files/libvirtd-10-rc-patch.sh
  formulas/compute/install.sls
Due: salt-lint, pylint

added udev to libvirt
  formulas/compute/files/libvirtd-10-rc-patch.sh
  formulas/compute/install.sls
Due: salt-lint

remove
  _modules/nexusproxy.py
Due: pylint

feat: adding IPMI cpu temp code
  _grains/ipmi.py
Due: pylint

looping through to test for sensor names
  _grains/ipmi.py
Due: pylint

found it :) sensor is called "CPU1 Temp"
  _grains/ipmi.py
Due: pylint

adding a line to create a system temp grain in addition to the cpu temp
  _grains/ipmi.py
Due: pylint

oops actually adding both this time
  _grains/ipmi.py
Due: pylint

passing on exception instead of adding error message to grains
  _grains/ipmi.py
Due: pylint

adding error messaging back into ipmi.py
  _grains/ipmi.py
Due: pylint

adding peripheral temp to test arm sensor issues
  _grains/ipmi.py
Due: pylint

removing peripheral temp test
  _grains/ipmi.py
Due: pylint

updated arm image
  formulas/pxe/configure.sls
Due: salt-lint

used dst subnet as variable
  formulas/common/nftables/nftables.sls
Due: salt-lint

mariadb jammy repo missing
  formulas/mysql/install.sls
Due: salt-lint

add bootstrap
  formulas/controller/files/common.userdata
  orch/states/virtual_prep.sls
Due: salt-lint

change packing feature
  formulas/nova/files/nova.conf
Due: salt-lint

remove next-server from class
  formulas/pxe/files/dhcp4.json
Due: salt-lint

specify different tftp option
  formulas/pxe/files/kinetic.ipxe
Due: salt-lint

changed to next-server
  formulas/pxe/files/kinetic.ipxe
Due: salt-lint

subnet layer context
  formulas/pxe/files/dhcp4.json
Due: salt-lint

clear next-server options
  formulas/pxe/files/kinetic.ipxe
Due: salt-lint

using netx
  formulas/pxe/files/kinetic.ipxe
Due: salt-lint

loop throug hsettings
  formulas/pxe/files/kinetic.ipxe
Due: salt-lint

look through
  formulas/pxe/files/kinetic.ipxe
Due: salt-lint

loop through ipxe
  formulas/pxe/files/kinetic.ipxe
Due: salt-lint

loop through interface clear
  formulas/pxe/files/kinetic.ipxe
Due: salt-lint

Path conditions:
  salt-lint: any of: formulas/**/*, orch/**/*, reactor/**/*
  pylint: any of: _grains/**/*, _modules/**/*, _runners/**/*, _states/**/*
  pages: any of: site.yml, docs/**/*
