Repository gacybercenter/kinetic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: salt-lint, pylint, pages

salt-lint:
  stage: lint
  tags:
  - docker
  script:
  - pip install salt-lint
  - salt-lint --json --severity $(find . -name \*.sls) > codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always

pylint:
  stage: lint
  tags:
  - docker
  image: python:slim
  before_script:
  - pip install pylint_gitlab
  script:
  - pylint --exit-zero --output-format=text $(find ./_modules ./_runners ./_states -type f -name "*.py") | tee /tmp/pylint.txt
  ...

pages:
  tags:
  - docker-gcc
  stage: pages
  image:
    name: antora/antora:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  - echo 'nav:' >> docs/antora.yml
  - echo '  - modules/documentation/nav.adoc' >> docs/antora.yml
  - antora site.yml --stacktrace
  ...

adjust pillar data
  _modules/kinetic-k8s.py
  formulas/bmo/files/bmc-auth.j2
Due: salt-lint, pylint

pillar instead of j2 var
  formulas/bmo/files/bmc-auth.j2
Due: salt-lint

check if bmh is in error
  _modules/kinetic-k8s.py
Due: pylint

replace if possible
  _modules/kinetic-k8s.py
Due: pylint

setup ipmi password
  _modules/kinetic-k8s.py
Due: pylint

removed shebang
  formulas/bmo/files/bmc-auth.j2
Due: salt-lint

validate operations
  _modules/kinetic-k8s.py
Due: pylint

check ipmi_password
  formulas/bmo/files/bmc-auth.j2
Due: salt-lint

test pillar information
  _modules/kinetic-k8s.py
Due: pylint

using pillar data from state
  _modules/kinetic-k8s.py
  formulas/bmo/configure.sls
Due: salt-lint, pylint

space issue
  _modules/kinetic-k8s.py
Due: pylint

render issue
  _modules/kinetic-k8s.py
  formulas/bmo/configure.sls
Due: salt-lint, pylint

setup ipmi password
  _modules/kinetic-k8s.py
  formulas/bmo/configure.sls
Due: salt-lint, pylint

added more debugging
  _modules/kinetic-k8s.py
Due: pylint

ipmi secret
  _modules/kinetic-k8s.py
Due: pylint

ipmi
  _modules/kinetic-k8s.py
Due: pylint

debug
  _modules/kinetic-k8s.py
Due: pylint

checking timestamps
  _modules/kinetic-k8s.py
Due: pylint

recreate host secret if bmh is replaced
  _modules/kinetic-k8s.py
  formulas/bmo/configure.sls
Due: salt-lint, pylint

per host auth
  formulas/bmo/configure.sls
Due: salt-lint

typo
  _modules/kinetic-k8s.py
Due: pylint

replaced auth present function for host specific version
  _modules/kinetic-k8s.py
Due: pylint

host specific auth name
  _modules/kinetic-k8s.py
  formulas/bmo/files/bmc-auth.j2
  formulas/bmo/files/bmh.j2
Due: salt-lint, pylint

typo
  formulas/bmo/files/bmc-auth.j2
Due: salt-lint

default to jange password
  _modules/kinetic-k8s.py
Due: pylint

include default pass
  formulas/bmo/configure.sls
Due: salt-lint

should be secrets and not cm
  _modules/kinetic-k8s.py
Due: pylint

check in correct namespace
  formulas/bmo/install.sls
Due: salt-lint

changed secret ley userdata
  _modules/kinetic-k8s.py
Due: pylint

specific data between bmh and host
  _modules/kinetic-k8s.py
Due: pylint

testing __pillar
  _modules/kinetic-k8s.py
Due: pylint

adjusting pillar data
  _modules/kinetic-k8s.py
  formulas/bmo/files/network-data.j2
Due: salt-lint, pylint

key issue
  _modules/kinetic-k8s.py
Due: pylint

static assignment
  formulas/bmo/files/network-data.j2
Due: salt-lint

netmask results
  formulas/bmo/files/network-data.j2
Due: salt-lint

updated pillar handling
  _modules/kinetic-k8s.py
Due: pylint

santized results
  _modules/kinetic-k8s.py
  formulas/bmo/files/network-data.j2
Due: salt-lint, pylint

adding subnet santizing
  _modules/kinetic-k8s.py
  formulas/bmo/files/bmh-pillar-example.sls
Due: salt-lint, pylint

Path conditions:
  salt-lint: any of: formulas/**/*, orch/**/*, reactor/**/*
  pylint: any of: _grains/**/*, _modules/**/*, _runners/**/*, _states/**/*
  pages: any of: site.yml, docs/**/*
