Repository gacybercenter/kinetic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: salt-lint, pylint, pages

salt-lint:
  stage: lint
  tags:
  - docker
  script:
  - pip install salt-lint
  - salt-lint --json --severity $(find . -name \*.sls) > codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always

pylint:
  stage: lint
  tags:
  - docker
  image: python:slim
  before_script:
  - pip install pylint_gitlab
  script:
  - pylint --exit-zero --output-format=text $(find ./_modules ./_runners ./_states -type f -name "*.py") | tee /tmp/pylint.txt
  ...

pages:
  tags:
  - docker-gcc
  stage: pages
  image:
    name: antora/antora:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  - echo 'nav:' >> docs/antora.yml
  - echo '  - modules/documentation/nav.adoc' >> docs/antora.yml
  - antora site.yml --stacktrace
  ...

state instead of module
  formulas/bmo/configure.sls
Due: salt-lint

k8s instead of module
  formulas/bmo/configure.sls
Due: salt-lint

require statement
  formulas/bmo/configure.sls
Due: salt-lint

removed module.run
  formulas/bmo/configure.sls
Due: salt-lint

Resolve "[feature] clean up output of bmo state and module"
  _states/k8s.py
  formulas/bmo/configure.sls
Due: salt-lint, pylint

adding op repo and releases
  formulas/common/k8s-mariadb/init.sls
  formulas/common/k8s-mariadb/install.sls
Due: salt-lint

include mariadb op helm charts
  formulas/bmo/install.sls
Due: salt-lint

typo
  formulas/bmo/configure copy.sls
  formulas/bmo/install_old.sls
  formulas/common/k8s-mariadb/install.sls
Due: salt-lint

just helm
  formulas/common/helm/install.sls
Due: salt-lint

exact match for grep
  formulas/common/k8s-mariadb/install.sls
Due: salt-lint

space
  formulas/common/k8s-mariadb/install.sls
Due: salt-lint

adding mariadb instance function
  _modules/kinetic-k8s.py
  formulas/bmo/install.sls
  formulas/ironic-operator/init.sls
  formulas/ironic-operator/install.sls
Due: salt-lint, pylint

different crd group
  _modules/kinetic-k8s.py
Due: pylint

import base64
  _modules/kinetic-k8s.py
Due: pylint

setup pvc first
  _modules/kinetic-k8s.py
Due: pylint

added sql function
  _states/k8s.py
Due: pylint

add pv and pvc module function
  _modules/kinetic-k8s.py
  formulas/ironic-operator/install.sls
Due: salt-lint, pylint

check for path
  _modules/kinetic-k8s.py
Due: pylint

added mariadb storage and db
  _states/k8s.py
  formulas/ironic-operator/install.sls
Due: salt-lint, pylint

install
  formulas/ironic-operator/init.sls
Due: salt-lint

ironic operator
  formulas/bmo/install.sls
Due: salt-lint

op instead of data
  formulas/ironic-operator/install.sls
Due: salt-lint

require storage to create
  formulas/ironic-operator/install.sls
Due: salt-lint

spacing
  formulas/ironic-operator/install.sls
Due: salt-lint

pv or pvc
  formulas/ironic-operator/install.sls
Due: salt-lint

remove nodeaffinity
  formulas/ironic-operator/install.sls
  test.yaml
Due: salt-lint

changedh storageclass
  _modules/kinetic-k8s.py
  _states/k8s.py
Due: pylint

typo
  _modules/kinetic-k8s.py
Due: pylint

simplify to troubleshoot
  _modules/kinetic-k8s.py
Due: pylint

missing
  _modules/kinetic-k8s.py
Due: pylint

missing curly brace
  _modules/kinetic-k8s.py
Due: pylint

require statement
  formulas/ironic-operator/install.sls
Due: salt-lint

santize k8s names
  _modules/kinetic-k8s.py
Due: pylint

else
  _modules/kinetic-k8s.py
Due: pylint

storage class
  _modules/kinetic-k8s.py
Due: pylint

pvc
  formulas/ironic-operator/install.sls
Due: salt-lint

simplfy storage class setting
  _modules/kinetic-k8s.py
Due: pylint

added pvc back
  _modules/kinetic-k8s.py
Due: pylint

leave pvc to operator
  _modules/kinetic-k8s.py
  formulas/ironic-operator/install.sls
Due: salt-lint, pylint

Path conditions:
  salt-lint: any of: formulas/**/*, orch/**/*, reactor/**/*
  pylint: any of: _grains/**/*, _modules/**/*, _runners/**/*, _states/**/*
  pages: any of: site.yml, docs/**/*
