Repository gacybercenter/kinetic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: salt-lint, pylint, pages

salt-lint:
  stage: lint
  tags:
  - docker
  script:
  - pip install salt-lint
  - salt-lint --json --severity $(find . -name \*.sls) > codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always

pylint:
  stage: lint
  tags:
  - docker
  image: python:slim
  before_script:
  - pip install pylint_gitlab
  script:
  - pylint --exit-zero --output-format=text $(find ./_modules ./_runners ./_states -type f -name "*.py") | tee /tmp/pylint.txt
  ...

pages:
  tags:
  - docker-gcc
  stage: pages
  image:
    name: antora/antora:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  - echo 'nav:' >> docs/antora.yml
  - echo '  - modules/documentation/nav.adoc' >> docs/antora.yml
  - antora site.yml --stacktrace
  ...

Remove obsolete require dependency on namespace creation
  formulas/common/k8s-rook/cluster.sls
Due: salt-lint

Change useAllNodes to false in ceph cluster config
  _modules/kinetic-rook.py
Due: pylint

Fix placement pillar reference path
  formulas/common/k8s-rook/cluster.sls
Due: salt-lint

Change monitoring_enabled to false
  formulas/common/k8s-rook/cluster.sls
Due: salt-lint

Add onlyApplyOSDPlacement and OSD taint to Rook config
  _modules/kinetic-rook.py
  orch/k8s-rook-operator.sls
Due: salt-lint, pylint

Add osd_mappings parameter for per-node OSD config
  _modules/kinetic-rook.py
  _states/rook.py
Due: pylint

Fix osd_mappings parameter in rook cluster state
  formulas/common/k8s-rook/cluster.sls
Due: salt-lint

Simplify Ceph storage configuration parameters
  _modules/kinetic-rook.py
  _states/rook.py
Due: pylint

Replace osd_mappings with use_all_nodes, devices, filter
  formulas/common/k8s-rook/cluster.sls
Due: salt-lint

Fix pillar key paths for rook cluster options
  formulas/common/k8s-rook/cluster.sls
Due: salt-lint

Change pillar access to direct dict lookups
  formulas/common/k8s-rook/cluster.sls
Due: salt-lint

Add only_apply_osd_placement parameter to Ceph cluster
  _modules/kinetic-rook.py
  _states/rook.py
Due: pylint

Add only_apply_osd_placement flag to rook cluster
  formulas/common/k8s-rook/cluster.sls
Due: salt-lint

Add metadata_device support for Ceph OSD configuration
  _modules/kinetic-rook.py
  _states/rook.py
  formulas/common/k8s-rook/cluster.sls
Due: salt-lint, pylint

Move node role labeling steps to k8s-rook-cluster.sls
  orch/k8s-rook-cluster.sls
  orch/k8s-rook-operator.sls
Due: salt-lint

Remove duplicate require on create_rook_namespace
  orch/k8s-rook-cluster.sls
Due: salt-lint

Remove unused require dependencies from k8s-rook-op state
  orch/k8s-rook-operator.sls
Due: salt-lint

Update rook namespace reference in Helm releases
  formulas/common/k8s-rook/configure.sls
Due: salt-lint

Update Ceph CSI Helm repository and release names
  formulas/common/k8s-rook/configure.sls
Due: salt-lint

Update ceph-csi repo and release references
  formulas/common/k8s-rook/configure.sls
Due: salt-lint

Add per-daemon resource limits to Rook Ceph cluster spec
  _modules/kinetic-rook.py
  _states/rook.py
  formulas/common/k8s-rook/cluster.sls
Due: salt-lint, pylint

Fix syntax error in rook cluster resources configuration
  formulas/common/k8s-rook/cluster.sls
Due: salt-lint

Fix typo in pillar key for Rook resources
  formulas/common/k8s-rook/cluster.sls
Due: salt-lint

Add resources_pillar parameter for resource config
  _modules/kinetic-rook.py
  _states/rook.py
Due: pylint

Fix network spec condition for multus provider
  _modules/kinetic-rook.py
Due: pylint

Update Rook network address range references
  formulas/common/k8s-rook/cluster.sls
Due: salt-lint

Add host networking addressRanges support
  _modules/kinetic-rook.py
  _states/rook.py
  formulas/common/k8s-rook/README.md
Due: salt-lint, pylint

Add ceph_blockpool_present and storageclass_present states
  _modules/kinetic-rook.py
  _states/rook.py
  formulas/common/k8s-rook/cluster.sls
Due: salt-lint, pylint

Add cluster_id parameter to storageclass_present
  _modules/kinetic-rook.py
  _states/rook.py
Due: pylint

Move general RBD pool definition to pools.sls
  formulas/common/k8s-rook/cluster.sls
  formulas/common/k8s-rook/pools.sls
Due: salt-lint

Add Ceph health wait and pool creation steps to Rook orchestration
  orch/k8s-rook-cluster.sls
Due: salt-lint

Remove unused Ceph health wait and pool creation steps
  orch/k8s-rook-cluster.sls
Due: salt-lint

Add Rook pool orchestration state
  orch/k8s-rook-pools.sls
Due: salt-lint

Add rook-ceph-block storageclass resource
  formulas/common/k8s-rook/pools.sls
Due: salt-lint

Remove deprecated rook-ceph-block storageclass state
  formulas/common/k8s-rook/cluster.sls
Due: salt-lint

Update k8s-rook README with orchestration architecture
  formulas/common/k8s-rook/README.md
Due: salt-lint

Update external and internal ingress cert DNS names
  formulas/common/k8s-ingress-controller/install.sls
Due: salt-lint

Fix external ingress TLS certificate common name
  formulas/common/k8s-ingress-controller/install.sls
Due: salt-lint

Refactor TLS cert config to use pillar variables
  formulas/common/k8s-ingress-controller/install.sls
Due: salt-lint

Add trailing newline after external ingress certificate
  formulas/common/k8s-ingress-controller/install.sls
Due: salt-lint

Path conditions:
  salt-lint: any of: formulas/**/*, orch/**/*, reactor/**/*
  pylint: any of: _grains/**/*, _modules/**/*, _runners/**/*, _states/**/*
  pages: any of: site.yml, docs/**/*
