Repository gacybercenter/kinetic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: salt-lint, pylint, pages

salt-lint:
  stage: lint
  tags:
  - docker
  script:
  - pip install salt-lint
  - salt-lint --json --severity $(find . -name \*.sls) > codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always

pylint:
  stage: lint
  tags:
  - docker
  image: python:slim
  before_script:
  - pip install pylint_gitlab
  script:
  - pylint --exit-zero --output-format=text $(find ./_modules ./_runners ./_states -type f -name "*.py") | tee /tmp/pylint.txt
  ...

pages:
  tags:
  - docker-gcc
  stage: pages
  image:
    name: antora/antora:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  - echo 'nav:' >> docs/antora.yml
  - echo '  - modules/documentation/nav.adoc' >> docs/antora.yml
  - antora site.yml --stacktrace
  ...

get password
  formulas/keycloak/configure.sls
Due: salt-lint

dc password
  formulas/keycloak/configure.sls
Due: salt-lint

db
  formulas/keycloak/configure.sls
Due: salt-lint

namespace
  formulas/keycloak/configure.sls
Due: salt-lint

cluster
  formulas/keycloak/configure.sls
Due: salt-lint

added keycloak module
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/keycloak/configure.sls
Due: salt-lint, pylint

add cert resource
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/keycloak/configure.sls
Due: salt-lint, pylint

common_name
  formulas/keycloak/configure.sls
Due: salt-lint

add certificate_name
  formulas/keycloak/configure.sls
Due: salt-lint

added secret
  formulas/keycloak/configure.sls
Due: salt-lint

secret present
  formulas/keycloak/configure.sls
Due: salt-lint

data
  formulas/keycloak/configure.sls
Due: salt-lint

add secret_name
  formulas/keycloak/configure.sls
Due: salt-lint

added issuer kind
  formulas/keycloak/configure.sls
Due: salt-lint

add kind issuer
  _modules/kinetic-k8s.py
  _states/k8s.py
Due: pylint

dnsName
  _modules/kinetic-k8s.py
Due: pylint

added specific keycluster specs
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/keycloak/configure.sls
Due: salt-lint, pylint

add keycloak cluster
  formulas/keycloak/configure.sls
Due: salt-lint

typo
  formulas/keycloak/configure.sls
Due: salt-lint

name
  formulas/keycloak/configure.sls
Due: salt-lint

added service name and port
  formulas/keycloak/configure.sls
Due: salt-lint

ingress
  formulas/keycloak/configure.sls
Due: salt-lint

debug error
  _modules/kinetic-k8s.py
Due: pylint

debug operation
  _modules/kinetic-k8s.py
Due: pylint

use anno instead of classname
  formulas/keycloak/configure.sls
Due: salt-lint

kcluster name
  formulas/keycloak/configure.sls
Due: salt-lint

debug keycloak
  _modules/kinetic-k8s.py
Due: pylint

api name
  _modules/kinetic-k8s.py
Due: pylint

make sure hostname is set
  _modules/kinetic-k8s.py
Due: pylint

debug update
  _modules/kinetic-k8s.py
Due: pylint

debug
  _modules/kinetic-k8s.py
Due: pylint

hostname structure
  _modules/kinetic-k8s.py
Due: pylint

added tls secret
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/keycloak/configure.sls
Due: salt-lint, pylint

tls
  formulas/keycloak/configure.sls
Due: salt-lint

changed service name
  formulas/keycloak/configure.sls
Due: salt-lint

Path conditions:
  salt-lint: any of: formulas/**/*, orch/**/*, reactor/**/*
  pylint: any of: _grains/**/*, _modules/**/*, _runners/**/*, _states/**/*
  pages: any of: site.yml, docs/**/*
