Repository gacybercenter/kinetic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: salt-lint, pylint, pages

salt-lint:
  stage: lint
  tags:
  - docker
  script:
  - pip install salt-lint
  - salt-lint --json --severity $(find . -name \*.sls) > codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always

pylint:
  stage: lint
  tags:
  - docker
  image: python:slim
  before_script:
  - pip install pylint_gitlab
  script:
  - pylint --exit-zero --output-format=text $(find ./_modules ./_runners ./_states -type f -name "*.py") | tee /tmp/pylint.txt
  ...

pages:
  tags:
  - docker-gcc
  stage: pages
  image:
    name: antora/antora:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  - echo 'nav:' >> docs/antora.yml
  - echo '  - modules/documentation/nav.adoc' >> docs/antora.yml
  - antora site.yml --stacktrace
  ...

detailed output
  _modules/kinetic-k8s.py
Due: pylint

normalized function
  _modules/kinetic-k8s.py
Due: pylint

normalize inspection
  _modules/kinetic-k8s.py
Due: pylint

ensure dhcp
  _modules/kinetic-k8s.py
Due: pylint

desired spec
  _modules/kinetic-k8s.py
Due: pylint

simplify normalized output
  _modules/kinetic-k8s.py
Due: pylint

removed debugging code
  _modules/kinetic-k8s.py
Due: pylint

Resolve "[feature] Install ironic operator"
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/bmo/bmh_pillar.example
  formulas/bmo/configure.sls
  formulas/bmo/configure_tmp.sls
  formulas/bmo/files/deploy.j2
  formulas/bmo/files/ironic.env.j2
  formulas/bmo/install.sls
  formulas/common/k8s-mariadb/install.sls
  formulas/ironic-operator/configure.sls
  formulas/ironic-operator/files/ironic_kustom.yaml.j2
  formulas/ironic-operator/install.sls
Due: salt-lint, pylint

data deployment
  formulas/bmo/configure.sls
Due: salt-lint

data
  formulas/bmo/configure.sls
Due: salt-lint

readd bmh auth present
  formulas/bmo/configure.sls
Due: salt-lint

add bmh
  formulas/bmo/configure.sls
Due: salt-lint

image server
  _modules/kinetic-k8s.py
  _states/k8s.py
Due: pylint

image server
  formulas/bmo/install.sls
Due: salt-lint

image directory
  formulas/bmo/install.sls
Due: salt-lint

pvc size
  formulas/bmo/install.sls
Due: salt-lint

added service type
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/bmo/install.sls
Due: salt-lint, pylint

bmh provisioned state
  _modules/kinetic-k8s.py
  _states/k8s.py
Due: pylint

salt modules
  _modules/kinetic-libvirt.py
  _states/libvirt.py
Due: pylint

only define VM if hypervisor is available
  formulas/bmo/configure.sls
Due: salt-lint

only run if h ypervisor is available
  formulas/bmo/configure.sls
Due: salt-lint

onlyif virtual available
  formulas/bmo/configure.sls
Due: salt-lint

storage pool type
  formulas/controller/configure.sls
Due: salt-lint

pool path
  formulas/controller/configure.sls
Due: salt-lint

storage defined
  formulas/controller/configure.sls
Due: salt-lint

removed start
  formulas/controller/configure.sls
Due: salt-lint

unless
  formulas/controller/configure.sls
Due: salt-lint

kvm_vms
  formulas/controller/configure.sls
Due: salt-lint

kvm
  formulas/controller/configure.sls
Due: salt-lint

file
  formulas/controller/configure.sls
Due: salt-lint

typo
  formulas/controller/configure.sls
Due: salt-lint

test
  formulas/bmo/configure.sls
Due: salt-lint

k8s master role
  formulas/master/init.sls
Due: salt-lint

configure and install
  formulas/master/configure.sls
  formulas/master/install.sls
Due: salt-lint

setup
  formulas/master/configure.sls
Due: salt-lint

Resolve "[feature] Add baremetal Hosts"
  _modules/kinetic-k8s.py
  _modules/kinetic-libvirt.py
  _states/k8s.py
  _states/libvirt.py
  formulas/bmo/configure.sls
  formulas/bmo/install.sls
  formulas/controller/configure.sls
  formulas/master/configure.sls
  formulas/master/init.sls
  formulas/master/install.sls
Due: salt-lint, pylint

adding kube
  formulas/master/configure.sls
  formulas/master/install.sls
Due: salt-lint

typo
  formulas/master/configure.sls
Due: salt-lint

sysctl
  formulas/master/configure.sls
Due: salt-lint

items
  formulas/master/configure.sls
Due: salt-lint

Path conditions:
  salt-lint: any of: formulas/**/*, orch/**/*, reactor/**/*
  pylint: any of: _grains/**/*, _modules/**/*, _runners/**/*, _states/**/*
  pages: any of: site.yml, docs/**/*
