Repository gacybercenter/kinetic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: salt-lint, pylint, pages

.gitlab-ci.yml:

image: python:slim

stages:
  - lint
  - pages

salt-lint:
  stage: lint
  tags:
    - docker
  script:
    - pip install salt-lint
    - salt-lint --json --severity $(find . -name \*.sls) > codeclimate.json
  only:
    changes:
      - formulas/**/*
      - orch/**/*
      - reactor/**/*
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always

pylint:
  stage: lint
  tags:
    - docker
  image: python:slim
  before_script:
    - pip install pylint_gitlab
  script:
    - pylint --exit-zero --output-format=text $(find ./_modules ./_runners ./_states -type f -name "*.py") | tee /tmp/pylint.txt
    - pylint --exit-zero --output-format=pylint_gitlab.GitlabCodeClimateReporter $(find ./_modules ./_runners ./_states -type f -name "*.py") >> codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always
  only:
    changes:
      - _grains/**/*
      - _modules/**/*
      - _runners/**/*
      - _states/**/*

pages:
  tags:
    - docker-gcc
  stage: pages
  image:
    name: antora/antora:latest
    entrypoint: [/bin/sh, -c]
  script:
    - echo 'nav:' >> docs/antora.yml
    - echo '  - modules/documentation/nav.adoc' >> docs/antora.yml
    - antora site.yml --stacktrace
    - echo '<html><meta http-equiv="refresh" content="0; url=./docs/latest/index.html"/></html>' > public/index.html
  artifacts:
    expire_in: 3 month
    paths:
      - public
  only:
    changes:
      - site.yml
      - docs/**/*

Enhance ou_present to handle single OU and improve error handling
  _states/ldap.py
Due: pylint

Add re import to ldap.py state module
  _states/ldap.py
Due: pylint

Simplify OU handling logic in ldap state module
  _states/ldap.py
Due: pylint

Add dn_exists function to check LDAP DN existence and attributes
  _states/ldap.py
Due: pylint

Move dn_exists function from ldap state to ldap_utils module
  _modules/ldap_utils.py
  _states/ldap.py
Due: pylint

Replace root_dn_exists with dn_exists in ou_present check
  _states/ldap.py
Due: pylint

Change LDAP search scope from BASE to SUBTREE in dn_exists
  _modules/ldap_utils.py
Due: pylint

Refine LDAP DN search with dynamic filter
  _modules/ldap_utils.py
  _states/ldap.py
Due: pylint

Remove redundant comment about SCOPE_BASE in dn_exists
  _modules/ldap_utils.py
Due: pylint

Fix syntax error in ldap_utils.py filterstr parameter
  _modules/ldap_utils.py
Due: pylint

Fix base DN usage in ou_present check
  _states/ldap.py
Due: pylint

Fix filterstr syntax in dn_exists function
  _modules/ldap_utils.py
Due: pylint

Fix base DN in LDAP search for dn_exists function
  _modules/ldap_utils.py
Due: pylint

Fix DN existence comment to use dn_parts values
  _modules/ldap_utils.py
Due: pylint

Fix syntax error in LDAP OU name concatenation
  formulas/common/ldap/configure.sls
Due: salt-lint

Fix syntax error in LDAP organizational unit name formatting
  formulas/common/ldap/configure.sls
Due: salt-lint

Fix OU name formatting in LDAP configuration
  formulas/common/ldap/configure.sls
Due: salt-lint

Reorder parameters in create_ou for consistency
  _modules/ldap_utils.py
  formulas/common/ldap/configure.sls
Due: salt-lint, pylint

Reorder parameters in create_ou function for consistency
  _modules/ldap_utils.py
Due: pylint

Update ldap_utils to return explicit DN existence and attribute match
  _modules/ldap_utils.py
  _states/ldap.py
Due: pylint

DN checking and updates related logic in ldap.py to utilize these new fields.Enhance OU creation logic with detailed status tracking
  _states/ldap.py
Due: pylint

Refactor user_present to support single user with parameters
  _states/ldap.py
Due: pylint

Update LDAP user_present function and add user creation in formula
  _states/ldap.py
  formulas/common/ldap/configure.sls
Due: salt-lint, pylint

Rename root_dn_exists to dn_exists in create_user function
  _modules/ldap_utils.py
Due: pylint

Update LDAP user attribute from displayName to cn
  formulas/common/ldap/configure.sls
Due: salt-lint

Remove redundant 'cn' attribute from LDAP user configuration
  _states/ldap.py
  formulas/common/ldap/configure.sls
Due: salt-lint, pylint

Update user objectClass attributes in LDAP state
  _states/ldap.py
Due: pylint

Update LDAP user creation with explicit parameters
  _modules/ldap_utils.py
  _states/ldap.py
Due: pylint

Simplify LDAP user configuration attributes format
  formulas/common/ldap/configure.sls
Due: salt-lint

Add UID to LDAP user configuration
  formulas/common/ldap/configure.sls
Due: salt-lint

Make description optional in LDAP user creation functions
  _modules/ldap_utils.py
  _states/ldap.py
Due: pylint

Make description parameter optional in user creation functions
  _modules/ldap_utils.py
  _states/ldap.py
  formulas/common/ldap/configure.sls
Due: salt-lint, pylint

Refactor LDAP group management for single group handling
  _modules/ldap_utils.py
  _states/ldap.py
  formulas/common/ldap/configure.sls
Due: salt-lint, pylint

Remove user dependency from group configuration
  formulas/common/ldap/configure.sls
Due: salt-lint

Enhance user_present logic for LDAP state module
  _states/ldap.py
Due: pylint

Enhance user creation logic in LDAP state module
  _states/ldap.py
Due: pylint

Improve LDAP user creation and update handling
  _modules/ldap_utils.py
  _states/ldap.py
Due: pylint

Fix typo in LDAP group update result check
  _modules/ldap_utils.py
Due: pylint

Fix syntax error in LDAP group update condition
  _modules/ldap_utils.py
Due: pylint
