Repository gacybercenter/kinetic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: salt-lint, pylint, pages

.gitlab-ci.yml:

image: python:slim

stages:
  - lint
  - pages

salt-lint:
  stage: lint
  tags:
    - docker
  script:
    - pip install salt-lint
    - salt-lint --json --severity $(find . -name \*.sls) > codeclimate.json
  only:
    changes:
      - formulas/**/*
      - orch/**/*
      - reactor/**/*
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always

pylint:
  stage: lint
  tags:
    - docker
  image: python:slim
  before_script:
    - pip install pylint_gitlab
  script:
    - pylint --exit-zero --output-format=text $(find ./_modules ./_runners ./_states -type f -name "*.py") | tee /tmp/pylint.txt
    - pylint --exit-zero --output-format=pylint_gitlab.GitlabCodeClimateReporter $(find ./_modules ./_runners ./_states -type f -name "*.py") >> codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always
  only:
    changes:
      - _grains/**/*
      - _modules/**/*
      - _runners/**/*
      - _states/**/*

pages:
  tags:
    - docker-gcc
  stage: pages
  image:
    name: antora/antora:latest
    entrypoint: [/bin/sh, -c]
  script:
    - echo 'nav:' >> docs/antora.yml
    - echo '  - modules/documentation/nav.adoc' >> docs/antora.yml
    - antora site.yml --stacktrace
    - echo '<html><meta http-equiv="refresh" content="0; url=./docs/latest/index.html"/></html>' > public/index.html
  artifacts:
    expire_in: 3 month
    paths:
      - public
  only:
    changes:
      - site.yml
      - docs/**/*

opensearch
  formulas/common/k8s-efk/install.sls
Due: salt-lint

debug
  formulas/common/k8s-efk/install.sls
Due: salt-lint

pillar
  formulas/common/k8s-efk/install.sls
Due: salt-lint

typo
  formulas/common/k8s-efk/install.sls
Due: salt-lint

username
  formulas/common/k8s-efk/install.sls
Due: salt-lint

use to create indexes
  _modules/kinetic-os.py
  formulas/k8s-logger/configure.sls
  orch/os-indexs.sls
Due: salt-lint, pylint

index
  _modules/kinetic-os.py
Due: pylint

typo
  orch/os-indexs.sls
Due: salt-lint

index name
  orch/os-indexs.sls
Due: salt-lint

removed index defaults
  _modules/kinetic-os.py
  _states/opensearch.py
Due: pylint

role_present
  _states/opensearch.py
Due: pylint

index role
  _modules/kinetic-os.py
Due: pylint

admin user
  _states/opensearch.py
Due: pylint

index roles
  formulas/common/k8s-efk/files/opensearch-security-config.j2
Due: salt-lint

adjust role permissions
  _modules/kinetic-os.py
Due: pylint

index patterns
  _modules/kinetic-os.py
Due: pylint

Resolve "Replace opensearch-dashboard with grafana"
  _modules/kinetic-os.py
  _states/opensearch.py
  formulas/common/k8s-efk/files/opensearch-security-config.j2
  formulas/common/k8s-efk/install.sls
  formulas/k8s-logger/configure.sls
  orch/os-indexs.sls
Due: salt-lint, pylint

create index based on hostname by default
  formulas/k8s-logger/configure.sls
Due: salt-lint

installing fluent-bit
  formulas/common/install.sls
  formulas/k8s-logger/install.sls
  formulas/k8s-logger/map.jinja
Due: salt-lint

fluent-bit
  formulas/k8s-logger/install.sls
Due: salt-lint

added install
  formulas/bmo/install.sls
Due: salt-lint

make sure logging is enabled
  formulas/common/base.sls
Due: salt-lint

default settings
  formulas/k8s-logger/defaults.yaml
  formulas/k8s-logger/map.jinja
Due: salt-lint

removed mappings
  formulas/k8s-logger/defaults.yaml
  formulas/k8s-logger/install.sls
  formulas/k8s-logger/map.jinja
Due: salt-lint

updated to create new role
  formulas/k8s-logger/configure.sls
  formulas/k8s-logger/install.sls
  orch/os-indexs.sls
Due: salt-lint

setup repo
  formulas/k8s-logger/install.sls
Due: salt-lint

setup
  formulas/k8s-logger/install.sls
Due: salt-lint

typo
  formulas/k8s-logger/install.sls
Due: salt-lint

change role
  formulas/k8s-logger/configure.sls
Due: salt-lint

fluent-bit roles
  _modules/kinetic-libvirt.py
  _states/libvirt.py
  formulas/k8s-logger/configure.sls
  formulas/k8s-logger/files/fluent-bit.j2
Due: salt-lint, pylint

typo
  formulas/k8s-logger/configure.sls
Due: salt-lint

use execution modle
  formulas/k8s-logger/configure.sls
Due: salt-lint

vm_results
  formulas/k8s-logger/configure.sls
Due: salt-lint

run module
  formulas/k8s-logger/configure.sls
Due: salt-lint

vms
  formulas/k8s-logger/configure.sls
Due: salt-lint

networks
  formulas/k8s-logger/configure.sls
Due: salt-lint

changed functions
  formulas/k8s-logger/configure.sls
Due: salt-lint

no iter
  formulas/k8s-logger/configure.sls
Due: salt-lint
