Repository gacybercenter/kinetic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: salt-lint, pylint, pages

salt-lint:
  stage: lint
  tags:
  - docker
  script:
  - pip install salt-lint
  - salt-lint --json --severity $(find . -name \*.sls) > codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always

pylint:
  stage: lint
  tags:
  - docker
  image: python:slim
  before_script:
  - pip install pylint_gitlab
  script:
  - pylint --exit-zero --output-format=text $(find ./_modules ./_runners ./_states -type f -name "*.py") | tee /tmp/pylint.txt
  ...

pages:
  tags:
  - docker-gcc
  stage: pages
  image:
    name: antora/antora:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  - echo 'nav:' >> docs/antora.yml
  - echo '  - modules/documentation/nav.adoc' >> docs/antora.yml
  - antora site.yml --stacktrace
  ...

Remove immediate recreate after CephObjectStore delete
  _modules/kinetic-rook.py
Due: pylint

Fix incorrect state name in glance config
  formulas/glance/configure.sls
Due: salt-lint

Replace Glance Ingress with HTTPRoute for external routing
  formulas/glance/configure.sls
Due: salt-lint

Fix glance ingress pillar path in configure.sls
  formulas/glance/configure.sls
Due: salt-lint

Fix glance password references to match pillar structure
  formulas/glance/configure.sls
Due: salt-lint

Fix glance pillar references to use values dict
  formulas/glance/configure.sls
Due: salt-lint

Fix admin password path to use osh_users pillar
  formulas/glance/configure.sls
Due: salt-lint

Fix glance pillar key path in configure state
  formulas/glance/configure.sls
Due: salt-lint

Update swift endpoint URLs to remove project ID placeholder
  formulas/swift/configure.sls
Due: salt-lint

Fix pillar key for glance helm configuration
  formulas/glance/configure.sls
Due: salt-lint

Fix swift endpoint URLs to include project ID placeholder
  formulas/swift/configure.sls
Due: salt-lint

Fix swift endpoint URLs for Rook Ceph integration
  formulas/swift/configure.sls
Due: salt-lint

Fix Swift endpoint URL placeholder syntax
  formulas/swift/configure.sls
Due: salt-lint

Update swift endpoint internal url
  formulas/swift/configure.sls
Due: salt-lint

Update swift admin endpoint URL
  formulas/swift/configure.sls
Due: salt-lint

Fix swift endpoint URLs to remove trailing AUTH_ suffix
  formulas/swift/configure.sls
Due: salt-lint

Replace project_id with tenant_id in Swift endpoint URLs
  formulas/swift/configure.sls
Due: salt-lint

Add Swift temp-url-key management and RGW subuser support
  _modules/kinetic-openstack.py
  _modules/kinetic-rook.py
  _states/kinetic-openstack.py
  _states/rook.py
  formulas/swift/configure.sls
Due: salt-lint, pylint

Remove Swift temp URL key configuration
  formulas/swift/configure.sls
Due: salt-lint

Add Ceph object store auth endpoint for Glance
  formulas/glance/configure.sls
Due: salt-lint

Fix Swift internal endpoint URL with tenant ID placeholder
  formulas/swift/configure.sls
Due: salt-lint

Add enable_apis parameter to RGW configuration
  _modules/kinetic-rook.py
  _states/rook.py
  formulas/swift/configure.sls
Due: salt-lint, pylint

Enable swift_account_in_url and remove swift_auth API
  formulas/swift/configure.sls
Due: salt-lint

Update Swift endpoint internal URL format
  formulas/swift/configure.sls
Due: salt-lint

Fix Swift endpoint URLs to use consistent tenant_id syntax
  formulas/swift/configure.sls
Due: salt-lint

Add rgw_config and rgw_command_flags parameters
  _modules/kinetic-rook.py
  _states/rook.py
  formulas/swift/configure.sls
Due: salt-lint, pylint

Add RGW max put and chunk size configuration
  formulas/swift/configure.sls
Due: salt-lint

Rename ingress TLS secret references to cert-secret
  formulas/common/k8s-ingress-controller/install.sls
Due: salt-lint

Add validation for client entries in Keycloak realms
  formulas/keycloak/realms.sls
Due: salt-lint

Remove obsolete Swift configure formula
  formulas/swift/old/configure.sls
Due: salt-lint

Add pillar_key documentation with example
  docs/kinetic-helm.md
  formulas/swift/old/install.sls
Due: salt-lint, pages

Remove unused glance_swift_account_project variable
  formulas/swift/configure.sls
Due: salt-lint

Add kinetic-rook module documentation
  docs/kinetic-rook.md
Due: pages

Add Swift/Rook gateway formula documentation
  docs/swift-rook-formula.md
Due: pages

Rename swift-rook-formula docs to kinetic-swift.md
  docs/kinetic-swift.md
Due: pages

Fix Mermaid subgraph labels and whitespace issues
  docs/kinetic-swift.md
Due: pages

Update mermaid flowchart labels for clarity
  docs/kinetic-swift.md
Due: pages

Add note about upcoming TLS termination change
  docs/kinetic-swift.md
Due: pages

Add documentation for kinetic-vault module
  docs/kinetic-vault.md
Due: pages

Move osh service docs from orch to formulas directory
  formulas/osh-mariadb/osh-mariadb.md
  formulas/osh-memcached/osh-memcached.md
  formulas/osh-rabbitmq/osh-rabbitmq.md
Due: salt-lint

Path conditions:
  salt-lint: any of: formulas/**/*, orch/**/*, reactor/**/*
  pylint: any of: _grains/**/*, _modules/**/*, _runners/**/*, _states/**/*
  pages: any of: site.yml, docs/**/*
