Repository gacybercenter/kinetic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: salt-lint, pylint, pages

.gitlab-ci.yml:

image: python:slim

stages:
  - lint
  - pages

salt-lint:
  stage: lint
  tags:
    - docker
  script:
    - pip install salt-lint
    - salt-lint --json --severity $(find . -name \*.sls) > codeclimate.json
  only:
    changes:
      - formulas/**/*
      - orch/**/*
      - reactor/**/*
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always

pylint:
  stage: lint
  tags:
    - docker
  image: python:slim
  before_script:
    - pip install pylint_gitlab
  script:
    - pylint --exit-zero --output-format=text $(find ./_modules ./_runners ./_states -type f -name "*.py") | tee /tmp/pylint.txt
    - pylint --exit-zero --output-format=pylint_gitlab.GitlabCodeClimateReporter $(find ./_modules ./_runners ./_states -type f -name "*.py") >> codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always
  only:
    changes:
      - _grains/**/*
      - _modules/**/*
      - _runners/**/*
      - _states/**/*

pages:
  tags:
    - docker-gcc
  stage: pages
  image:
    name: antora/antora:latest
    entrypoint: [/bin/sh, -c]
  script:
    - echo 'nav:' >> docs/antora.yml
    - echo '  - modules/documentation/nav.adoc' >> docs/antora.yml
    - antora site.yml --stacktrace
    - echo '<html><meta http-equiv="refresh" content="0; url=./docs/latest/index.html"/></html>' > public/index.html
  artifacts:
    expire_in: 3 month
    paths:
      - public
  only:
    changes:
      - site.yml
      - docs/**/*

Remove Keycloak database and namespace setup from configure
  formulas/keycloak/configure.sls
Due: salt-lint

Fix missing closing brace in Helm chart name template
  formulas/keycloak/install.sls
Due: salt-lint

Add Keycloak module for managing realms, clients, and user federation
  _modules/kinetic-keycloak.py
  _states/keycloak.py
  docs/kinetic-helm.md
  docs/kinetic-keycloak.md
Due: pylint, pages

Add Keycloak realm configuration via pillar
  formulas/keycloak/PILLAR-EXAMPLE.md
  formulas/keycloak/configure.sls
Due: salt-lint

Add start_tls and use_truststore_spi to user federation
  _modules/kinetic-keycloak.py
  _states/keycloak.py
  docs/kinetic-keycloak.md
  formulas/keycloak/PILLAR-EXAMPLE.md
  formulas/keycloak/configure.sls
Due: salt-lint, pylint, pages

Extract realms from LDAP pillar
  formulas/keycloak/configure.sls
Due: salt-lint

Change default federation provider type to 'other'
  formulas/keycloak/configure.sls
Due: salt-lint

Update Keycloak federation default provider type
  formulas/keycloak/configure.sls
Due: salt-lint

Fix user_federation_present parent_id resolution
  _modules/kinetic-keycloak.py
  docs/kinetic-keycloak.md
Due: pylint, pages

Add LDAP mapper management functions
  _modules/kinetic-keycloak.py
  _states/keycloak.py
  docs/kinetic-keycloak.md
  formulas/keycloak/PILLAR-EXAMPLE.md
  formulas/keycloak/configure.sls
Due: salt-lint, pylint, pages

Change realms source from kc config to ldap pillar
  formulas/keycloak/configure.sls
Due: salt-lint

Update Multus pillar key paths to use nested structure
  formulas/common/k8s-multus/init.sls
Due: salt-lint

Replace pillar.get() with bracket notation
  formulas/common/k8s-multus/init.sls
Due: salt-lint

Add PKCE and attributes support to Keycloak clients
  _modules/kinetic-keycloak.py
  _states/keycloak.py
  docs/kinetic-keycloak.md
  formulas/keycloak/PILLAR-EXAMPLE.md
  formulas/keycloak/configure.sls
Due: salt-lint, pylint, pages

Simplify keycloak pillar data access
  formulas/keycloak/configure.sls
Due: salt-lint

Make keycloak pillar access safer with defaults
  formulas/keycloak/configure.sls
Due: salt-lint

Fix pillar key references in keycloak config
  formulas/keycloak/configure.sls
Due: salt-lint

Remove default secret name from Keycloak config
  formulas/keycloak/configure.sls
Due: salt-lint

Remove default keycloak_addr fallback value
  formulas/keycloak/configure.sls
Due: salt-lint

Add default values for keycloak config
  formulas/keycloak/configure.sls
Due: salt-lint

Fix typo in pillar key from res-k8 to res-k8s
  formulas/keycloak/configure.sls
Due: salt-lint

Add RBAC Role and RoleBinding management functions
  _modules/kinetic-k8s.py
  _states/k8s.py
Due: pylint

Add kinetic-k8s module documentation
  docs/kinetic-k8s.md
Due: pages

Change LDAP groups to use groupOfNames with member DNs
  _states/ldap.py
  formulas/common/ldapadmin/prov.sls
Due: salt-lint, pylint

Update LDAP formula path to ldapadmin
  orch/k8s-ldap-prov.sls
Due: salt-lint

Fix LDAP cert pillar key from common_name to commonname
  formulas/common/ldapadmin/prov.sls
Due: salt-lint

Change LDAP description default from empty to cn
  formulas/common/ldapadmin/prov.sls
Due: salt-lint

Simplify update_group logic and improve dn_exists
  _modules/ldap_utils.py
Due: pylint

Fix LDAP password handling and add group nesting support
  _states/ldap.py
  formulas/common/ldapadmin/prov.sls
Due: salt-lint, pylint

Add compatibility shim for non_resource_urls kwarg
  _modules/kinetic-k8s.py
Due: pylint

Add smtp_server parameter to realm_present functions
  _modules/kinetic-keycloak.py
  _states/keycloak.py
  formulas/keycloak/configure.sls
Due: salt-lint, pylint

Add type parameter to support sub-flow registrations
  _modules/kinetic-keycloak.py
  _states/keycloak.py
  formulas/keycloak/configure.sls
Due: salt-lint, pylint

Add note that sub-flows are created implicitly
  _modules/kinetic-keycloak.py
Due: pylint

Fix sub-flow matching by checking alias/displayName instead of providerId
  _modules/kinetic-keycloak.py
Due: pylint

Handle Keycloak flow alias conflicts gracefully
  _modules/kinetic-keycloak.py
Due: pylint

Add realm authentication flow binding parameters
  _modules/kinetic-keycloak.py
  _states/keycloak.py
  formulas/keycloak/configure.sls
Due: salt-lint, pylint

Update k8s-efk state reference to remove .install suffix
  orch/k8s-efk.sls
Due: salt-lint

Simplify EFK orchestration config
  orch/k8s-efk.sls
Due: salt-lint

Fix EFK formula reference in orchestration state
  orch/k8s-efk.sls
Due: salt-lint

Replace Ingress with HTTPRoute for OpenSearch API
  formulas/common/k8s-efk/install.sls
Due: salt-lint
