Repository gacybercenter/kinetic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: salt-lint, pylint, pages

.gitlab-ci.yml:

image: python:slim

stages:
  - lint
  - pages

salt-lint:
  stage: lint
  tags:
    - docker
  script:
    - pip install salt-lint
    - salt-lint --json --severity $(find . -name \*.sls) > codeclimate.json
  only:
    changes:
      - formulas/**/*
      - orch/**/*
      - reactor/**/*
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always

pylint:
  stage: lint
  tags:
    - docker
  image: python:slim
  before_script:
    - pip install pylint_gitlab
  script:
    - pylint --exit-zero --output-format=text $(find ./_modules ./_runners ./_states -type f -name "*.py") | tee /tmp/pylint.txt
    - pylint --exit-zero --output-format=pylint_gitlab.GitlabCodeClimateReporter $(find ./_modules ./_runners ./_states -type f -name "*.py") >> codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always
  only:
    changes:
      - _grains/**/*
      - _modules/**/*
      - _runners/**/*
      - _states/**/*

pages:
  tags:
    - docker-gcc
  stage: pages
  image:
    name: antora/antora:latest
    entrypoint: [/bin/sh, -c]
  script:
    - echo 'nav:' >> docs/antora.yml
    - echo '  - modules/documentation/nav.adoc' >> docs/antora.yml
    - antora site.yml --stacktrace
    - echo '<html><meta http-equiv="refresh" content="0; url=./docs/latest/index.html"/></html>' > public/index.html
  artifacts:
    expire_in: 3 month
    paths:
      - public
  only:
    changes:
      - site.yml
      - docs/**/*

setup db in bmo install
  formulas/bmo/install.sls
  formulas/ironic-operator/install.sls
Due: salt-lint

require mariadb
  formulas/bmo/install.sls
Due: salt-lint

irso
  formulas/ironic-operator/configure.sls
Due: salt-lint

report changes
  _modules/kinetic-k8s.py
  _states/k8s.py
Due: pylint

run deploy
  _states/k8s.py
Due: pylint

pillar op dir
  _states/k8s.py
Due: pylint

getting pillar with python
  _states/k8s.py
Due: pylint

add mariadb operator
  formulas/bmo/install.sls
Due: salt-lint

ensure ns
  formulas/bmo/install.sls
Due: salt-lint

sls install
  formulas/bmo/install.sls
Due: salt-lint

temperarily disable bmo install
  formulas/bmo/configure.sls
  formulas/bmo/configure_tmp.sls
Due: salt-lint

install ironic instance
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/bmo/bmh_pillar.example
  formulas/bmo/configure.sls
Due: salt-lint, pylint

credname
  _modules/kinetic-k8s.py
Due: pylint

add sshkey to deploy ramdisk
  _modules/kinetic-k8s.py
Due: pylint

ssh public key
  _states/k8s.py
Due: pylint

api creds name
  _modules/kinetic-k8s.py
Due: pylint

api creds
  _modules/kinetic-k8s.py
Due: pylint

add api creds
  _modules/kinetic-k8s.py
  _states/k8s.py
Due: pylint

add static api password
  formulas/bmo/configure.sls
Due: salt-lint

adjusting provisoning spec
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/bmo/configure.sls
Due: salt-lint, pylint

refatored to use networking instaed of provisioning
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/bmo/configure.sls
Due: salt-lint, pylint

netmask
  _modules/kinetic-k8s.py
  formulas/bmo/configure.sls
Due: salt-lint, pylint

ident
  _modules/kinetic-k8s.py
Due: pylint

spacing
  _modules/kinetic-k8s.py
Due: pylint

network instance
  _states/k8s.py
Due: pylint

added back salt uuids
  formulas/bmo/configure.sls
Due: salt-lint

reduced to only needed variables
  formulas/bmo/configure.sls
  formulas/bmo/files/ironic.env.j2
  formulas/bmo/install.sls
Due: salt-lint

ironic
  formulas/bmo/files/deploy.j2
Due: salt-lint

export
  formulas/bmo/files/deploy.j2
Due: salt-lint

add bmh secrets
  formulas/bmo/configure.sls
Due: salt-lint

updated comparison
  _modules/kinetic-k8s.py
Due: pylint

detailed diff
  _modules/kinetic-k8s.py
Due: pylint

defatiled output
  _modules/kinetic-k8s.py
Due: pylint

normalized desired spec
  _modules/kinetic-k8s.py
Due: pylint

normalized network spec
  _modules/kinetic-k8s.py
Due: pylint

diff output
  _modules/kinetic-k8s.py
Due: pylint

detailed output
  _modules/kinetic-k8s.py
Due: pylint

updated diff output
  _modules/kinetic-k8s.py
Due: pylint

debug output
  _modules/kinetic-k8s.py
Due: pylint
