Repository gacybercenter/kinetic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: salt-lint, pylint, pages

salt-lint:
  stage: lint
  tags:
  - docker
  script:
  - pip install salt-lint
  - salt-lint --json --severity $(find . -name \*.sls) > codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always

pylint:
  stage: lint
  tags:
  - docker
  image: python:slim
  before_script:
  - pip install pylint_gitlab
  script:
  - pylint --exit-zero --output-format=text $(find ./_modules ./_runners ./_states -type f -name "*.py") | tee /tmp/pylint.txt
  ...

pages:
  tags:
  - docker-gcc
  stage: pages
  image:
    name: antora/antora:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  - echo 'nav:' >> docs/antora.yml
  - echo '  - modules/documentation/nav.adoc' >> docs/antora.yml
  - antora site.yml --stacktrace
  ...

Update OpenLDAP Helm repo URL to new source
  formulas/common/ldap/install.sls
Due: salt-lint

Update Keycloak cluster configuration and handling
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/keycloak/configure.sls
Due: salt-lint, pylint

Trim ellipsis in Keycloak error message string
  _modules/kinetic-k8s.py
Due: pylint

Update Keycloak API version to v2alpha1
  _modules/kinetic-k8s.py
Due: pylint

Update Keycloak API group to k8s.keycloak.org
  _modules/kinetic-k8s.py
Due: pylint

Update Keycloak cluster hostname source from pillar data
  formulas/keycloak/configure.sls
Due: salt-lint

Fix whitespace in Keycloak cluster hostname parameter
  formulas/keycloak/configure.sls
Due: salt-lint

Fix spacing in Keycloak hostname pillar reference
  formulas/keycloak/configure.sls
Due: salt-lint

Use kcluster instead of pillar for hostname value
  formulas/keycloak/configure.sls
Due: salt-lint

Update hostname source in Keycloak cluster configuration
  formulas/keycloak/configure.sls
Due: salt-lint

Update Keycloak cluster spec structure
  _modules/kinetic-k8s.py
Due: pylint

Truncate error message in certmanager_certificate_present
  _states/k8s.py
Due: pylint

Remove input variables from error message in k8s module
  _states/k8s.py
Due: pylint

Remove detailed error logging from certmanager_certificate
  _states/k8s.py
Due: pylint

Remove unnecessary nesting in database password secret config
  _modules/kinetic-k8s.py
Due: pylint

Fix Keycloak cluster hostname structure in spec configuration
  _modules/kinetic-k8s.py
Due: pylint

Fix hostname key in keycloak_cluster_present configuration
  _modules/kinetic-k8s.py
Due: pylint

Add blank line for readability in configure.sls
  formulas/keycloak/configure.sls
Due: salt-lint

Add HTTP configuration to Keycloak cluster setup
  _modules/kinetic-k8s.py
Due: pylint

Enhance Keycloak Cluster configuration with HTTP and DB options
  _modules/kinetic-k8s.py
Due: pylint

Fix formatting of keycloak_cluster_present function definition
  _modules/kinetic-k8s.py
Due: pylint

Update Keycloak cluster configuration and API version
  _modules/kinetic-k8s.py
Due: pylint

Truncate error message in keycloak_cluster_present output
  _modules/kinetic-k8s.py
Due: pylint

Implement delete-and-recreate for Keycloak Cluster updates
  _modules/kinetic-k8s.py
Due: pylint

Fix YAML key name for TLS secret in Keycloak ingress
  formulas/keycloak/configure.sls
Due: salt-lint

Refactor Keycloak cluster management for better readability
  _modules/kinetic-k8s.py
Due: pylint

Reformat keycloak_cluster_present function for better readability
  _modules/kinetic-k8s.py
Due: pylint

Update truststores configuration to use nested pillar structure
  formulas/keycloak/configure.sls
Due: salt-lint

Add TLS certificate management for LDAP using cert-manager
  formulas/common/ldap/install.sls
Due: salt-lint

Remove unused LDAP configuration states
  formulas/common/ldap/configure.sls
Due: salt-lint

Add dependency for LDAP TLS certificate in HA setup
  formulas/common/ldap/install.sls
Due: salt-lint

Truncate error message in certmanager_certificate_present output
  _modules/kinetic-k8s.py
Due: pylint

Add Keycloak namespace creation to LDAP install script
  formulas/common/ldap/install.sls
Due: salt-lint

Rename Keycloak namespace to LDAP namespace
  formulas/common/ldap/install.sls
Due: salt-lint

Add Kubernetes pull secret for LDAP Helm chart repository
  formulas/common/ldap/install.sls
Due: salt-lint

Add blank line for readability in ldap/install.sls
  formulas/common/ldap/install.sls
Due: salt-lint

Fix base64 encoding in LDAP pull secret auth field
  formulas/common/ldap/install.sls
Due: salt-lint

Update LDAP secret configuration parameters
  formulas/common/ldap/install.sls
Due: salt-lint

Encode LDAP pull secret auth string in base64
  formulas/common/ldap/install.sls
Due: salt-lint

Path conditions:
  salt-lint: any of: formulas/**/*, orch/**/*, reactor/**/*
  pylint: any of: _grains/**/*, _modules/**/*, _runners/**/*, _states/**/*
  pages: any of: site.yml, docs/**/*
