Repository gacybercenter/kinetic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: salt-lint, pylint, pages

.gitlab-ci.yml:

image: python:slim

stages:
  - lint
  - pages

salt-lint:
  stage: lint
  tags:
    - docker
  script:
    - pip install salt-lint
    - salt-lint --json --severity $(find . -name \*.sls) > codeclimate.json
  only:
    changes:
      - formulas/**/*
      - orch/**/*
      - reactor/**/*
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always

pylint:
  stage: lint
  tags:
    - docker
  image: python:slim
  before_script:
    - pip install pylint_gitlab
  script:
    - pylint --exit-zero --output-format=text $(find ./_modules ./_runners ./_states -type f -name "*.py") | tee /tmp/pylint.txt
    - pylint --exit-zero --output-format=pylint_gitlab.GitlabCodeClimateReporter $(find ./_modules ./_runners ./_states -type f -name "*.py") >> codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always
  only:
    changes:
      - _grains/**/*
      - _modules/**/*
      - _runners/**/*
      - _states/**/*

pages:
  tags:
    - docker-gcc
  stage: pages
  image:
    name: antora/antora:latest
    entrypoint: [/bin/sh, -c]
  script:
    - echo 'nav:' >> docs/antora.yml
    - echo '  - modules/documentation/nav.adoc' >> docs/antora.yml
    - antora site.yml --stacktrace
    - echo '<html><meta http-equiv="refresh" content="0; url=./docs/latest/index.html"/></html>' > public/index.html
  artifacts:
    expire_in: 3 month
    paths:
      - public
  only:
    changes:
      - site.yml
      - docs/**/*

type
  formulas/bmo/configure.sls
Due: salt-lint

ptype
  formulas/bmo/configure.sls
Due: salt-lint

identify volume
  formulas/bmo/configure.sls
Due: salt-lint

pool_running
  formulas/bmo/configure.sls
Due: salt-lint

define using xml
  formulas/bmo/configure.sls
Due: salt-lint

debug
  formulas/bmo/configure.sls
Due: salt-lint

adjust connection
  formulas/bmo/configure.sls
Due: salt-lint

debug connection
  formulas/bmo/configure.sls
Due: salt-lint

test
  formulas/bmo/configure.sls
Due: salt-lint

quote
  formulas/bmo/configure.sls
Due: salt-lint

render template
  formulas/bmo/configure.sls
Due: salt-lint

typo
  formulas/bmo/configure.sls
Due: salt-lint

module
  formulas/bmo/configure.sls
Due: salt-lint

convert to GB
  formulas/bmo/configure.sls
Due: salt-lint

name
  formulas/bmo/configure.sls
Due: salt-lint

define
  formulas/bmo/configure.sls
Due: salt-lint

m_name
  formulas/bmo/configure.sls
Due: salt-lint

host_passthrough
  formulas/bmo/configure.sls
Due: salt-lint

define vms with uefi enabled
  formulas/bmo/configure.sls
Due: salt-lint

efi
  formulas/bmo/configure.sls
Due: salt-lint

removed version
  formulas/bmo/configure.sls
Due: salt-lint

bios booting works
  formulas/bmo/configure.sls
Due: salt-lint

Resolve "[feature] add virtualized control plane"
  _modules/kinetic-libvirt.py
  formulas/bmo/configure.sls
  formulas/bmo/install.sls
  formulas/common/install.sls
  formulas/common/networking.sls
  formulas/common/vbmc/init.sls
  formulas/controller/configure.sls
  formulas/controller/install.sls
Due: salt-lint, pylint

named pool
  formulas/bmo/configure.sls
Due: salt-lint

req change
  formulas/bmo/configure.sls
Due: salt-lint

start connection
  formulas/bmo/configure.sls
Due: salt-lint

secret uuids
  _modules/kinetic-k8s.py
  _states/k8s.py
Due: pylint

uuids secret
  _modules/kinetic-k8s.py
  _states/k8s.py
Due: pylint

uuids update
  formulas/bmo/configure.sls
Due: salt-lint

wait for salt deployment to finish restarting
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/bmo/configure.sls
Due: salt-lint, pylint

pillar key
  formulas/bmo/configure.sls
Due: salt-lint

assuimnng pillar key
  _states/k8s.py
  formulas/bmo/configure.sls
Due: salt-lint, pylint

salt pillar
  _states/k8s.py
Due: pylint

pillar key assumed
  _states/k8s.py
Due: pylint

pillar key
  _states/k8s.py
Due: pylint

salt get
  _states/k8s.py
Due: pylint

pillar get
  _states/k8s.py
Due: pylint
