Repository gacybercenter/kinetic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: salt-lint, pylint, pages

.gitlab-ci.yml:

image: python:slim

stages:
  - lint
  - pages

salt-lint:
  stage: lint
  tags:
    - docker
  script:
    - pip install salt-lint
    - salt-lint --json --severity $(find . -name \*.sls) > codeclimate.json
  only:
    changes:
      - formulas/**/*
      - orch/**/*
      - reactor/**/*
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always

pylint:
  stage: lint
  tags:
    - docker
  image: python:slim
  before_script:
    - pip install pylint_gitlab
  script:
    - pylint --exit-zero --output-format=text $(find ./_modules ./_runners ./_states -type f -name "*.py") | tee /tmp/pylint.txt
    - pylint --exit-zero --output-format=pylint_gitlab.GitlabCodeClimateReporter $(find ./_modules ./_runners ./_states -type f -name "*.py") >> codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always
  only:
    changes:
      - _grains/**/*
      - _modules/**/*
      - _runners/**/*
      - _states/**/*

pages:
  tags:
    - docker-gcc
  stage: pages
  image:
    name: antora/antora:latest
    entrypoint: [/bin/sh, -c]
  script:
    - echo 'nav:' >> docs/antora.yml
    - echo '  - modules/documentation/nav.adoc' >> docs/antora.yml
    - antora site.yml --stacktrace
    - echo '<html><meta http-equiv="refresh" content="0; url=./docs/latest/index.html"/></html>' > public/index.html
  artifacts:
    expire_in: 3 month
    paths:
      - public
  only:
    changes:
      - site.yml
      - docs/**/*

Resolve "[ferature] add osh to rook adapter"
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/osh-endpoints/configure.sls
  formulas/osh-rook-adapter/configure.sls
  formulas/osh-rook-adapter/init.sls
  formulas/osh-rook-adapter/install.sls
  formulas/osh-rook-apdapter/configure.sls
  orch/k8s-osh-rook-adapter.sls
Due: salt-lint, pylint

install rabbitmq helm chart
  formulas/osh-rabbitmq/configure.sls
  formulas/osh-rabbitmq/init.sls
  formulas/osh-rabbitmq/install.sls
  orch/k8s-osh-rabbitmq.sls
Due: salt-lint

require
  formulas/osh-rabbitmq/configure.sls
Due: salt-lint

keep values
  formulas/osh-rabbitmq/configure.sls
Due: salt-lint

using pillar
  formulas/osh-rabbitmq/configure.sls
Due: salt-lint

changed to helm upgrade --list
  _modules/kinetic-helm.py
Due: pylint

Resolve "rabbitmq-helm-chart"
  _modules/kinetic-helm.py
  _modules/kinetic-k8s.py
  _states/k8s-helm.py
  _states/k8s.py
  formulas/k8s-gitlab-runner/configure.sls
  formulas/osh-endpoints/configure.sls
  formulas/osh-endpoints/init.sls
  formulas/osh-endpoints/install.sls
  formulas/osh-helm-repos/configure.sls
  formulas/osh-helm-repos/init.sls
  formulas/osh-helm-repos/install.sls
  formulas/osh-rabbitmq/configure.sls
  formulas/osh-rabbitmq/init.sls
  formulas/osh-rabbitmq/install.sls
  formulas/osh-rook-adapter/configure.sls
  formulas/osh-rook-adapter/init.sls
  formulas/osh-rook-adapter/install.sls
  orch/k8s-osh-endpoints.sls
  orch/k8s-osh-helm-repos.sls
  orch/k8s-osh-rabbitmq.sls
  orch/k8s-osh-rook-adapter.sls
Due: salt-lint, pylint

added mariadb helm chart
  formulas/osh-mariadb/configure.sls
  formulas/osh-mariadb/init.sls
  formulas/osh-mariadb/install.sls
  orch/k8s-osh-mariadb.sls
Due: salt-lint

deploy
  formulas/osh-mariadb/configure.sls
Due: salt-lint

test
  formulas/osh-mariadb/configure.sls
Due: salt-lint

Resolve "add mariadb osh chart"
  _modules/kinetic-helm.py
  formulas/osh-mariadb/configure.sls
  formulas/osh-mariadb/init.sls
  formulas/osh-mariadb/install.sls
  formulas/osh-rabbitmq/configure.sls
  formulas/osh-rabbitmq/init.sls
  formulas/osh-rabbitmq/install.sls
  orch/k8s-osh-mariadb.sls
  orch/k8s-osh-rabbitmq.sls
Due: salt-lint, pylint

add memcache
  formulas/osh-memcached/configure.sls
  formulas/osh-memcached/init.sls
  formulas/osh-memcached/install.sls
Due: salt-lint

added memcache
  orch/k8s-osh-memcached.sls
Due: salt-lint

debug
  formulas/osh-memcached/configure.sls
Due: salt-lint

Resolve "add osh memcached"
  formulas/osh-memcached/configure.sls
  formulas/osh-memcached/init.sls
  formulas/osh-memcached/install.sls
  orch/k8s-osh-memcached.sls
Due: salt-lint

add proper ingresses
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/common/k8s-nginx-controller/configure.sls
  formulas/common/k8s-nginx-controller/install.sls
Due: salt-lint, pylint

setup ingress
  formulas/common/k8s-nginx-controller/configure.sls
Due: salt-lint

install ingress
  orch/k8s-nginx-controller.sls
Due: salt-lint

removed dup namespaces
  formulas/common/k8s-nginx-controller/install.sls
Due: salt-lint

typo
  _states/k8s.py
Due: pylint

add scheduling to filesystem
  formulas/common/k8s-rook/files/rook-cluster.j2
Due: salt-lint

mds scheduling tweaks
  formulas/common/k8s-rook/files/rook-cluster.j2
Due: salt-lint

tweaked scheduling
  formulas/common/k8s-rook/files/rook-cluster.j2
Due: salt-lint

tweaking spacing
  formulas/common/k8s-rook/files/rook-cluster.j2
Due: salt-lint

tweaking scheduling
  formulas/common/k8s-rook/files/rook-cluster.j2
Due: salt-lint

yaml formating
  formulas/common/k8s-rook/files/rook-cluster.j2
Due: salt-lint

added storageclass options
  formulas/common/k8s-rook/files/rook-cluster.j2
Due: salt-lint

tweat storageclass
  formulas/common/k8s-rook/files/rook-cluster.j2
Due: salt-lint

storageclass tweats
  formulas/common/k8s-rook/files/rook-cluster.j2
Due: salt-lint

tweak datapools
  formulas/common/k8s-rook/files/rook-cluster.j2
Due: salt-lint

datapool tweak
  formulas/common/k8s-rook/files/rook-cluster.j2
Due: salt-lint

tweak storageclass settings
  formulas/common/k8s-rook/files/rook-cluster.j2
Due: salt-lint

tweak pool settings
  formulas/common/k8s-rook/files/rook-cluster.j2
Due: salt-lint

data pool
  formulas/common/k8s-rook/files/rook-cluster.j2
Due: salt-lint

Resolve "ceph rook mds scheduling issue"
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/common/k8s-nginx-controller/configure.sls
  formulas/common/k8s-nginx-controller/install.sls
  formulas/common/k8s-rook/files/rook-cluster.j2
  formulas/osh-mariadb/configure.sls
  formulas/osh-mariadb/init.sls
  formulas/osh-mariadb/install.sls
  formulas/osh-memcached/configure.sls
  formulas/osh-memcached/init.sls
  formulas/osh-memcached/install.sls
  orch/k8s-osh-mariadb.sls
  orch/k8s-osh-memcached.sls
Due: salt-lint, pylint

service name
  formulas/common/k8s-nginx-controller/configure.sls
Due: salt-lint

add module for cert-manager issuer
  _modules/kinetic-k8s.py
  _states/k8s.py
Due: pylint

configure
  formulas/common/k8s-certmanager/configure.sls
Due: salt-lint

cluster issuers
  formulas/common/k8s-certmanager/configure.sls
Due: salt-lint
