Repository gacybercenter/kinetic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: salt-lint, pylint, pages

.gitlab-ci.yml:

image: python:slim

stages:
  - lint
  - pages

salt-lint:
  stage: lint
  tags:
    - docker
  script:
    - pip install salt-lint
    - salt-lint --json --severity $(find . -name \*.sls) > codeclimate.json
  only:
    changes:
      - formulas/**/*
      - orch/**/*
      - reactor/**/*
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always

pylint:
  stage: lint
  tags:
    - docker
  image: python:slim
  before_script:
    - pip install pylint_gitlab
  script:
    - pylint --exit-zero --output-format=text $(find ./_modules ./_runners ./_states -type f -name "*.py") | tee /tmp/pylint.txt
    - pylint --exit-zero --output-format=pylint_gitlab.GitlabCodeClimateReporter $(find ./_modules ./_runners ./_states -type f -name "*.py") >> codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always
  only:
    changes:
      - _grains/**/*
      - _modules/**/*
      - _runners/**/*
      - _states/**/*

pages:
  tags:
    - docker-gcc
  stage: pages
  image:
    name: antora/antora:latest
    entrypoint: [/bin/sh, -c]
  script:
    - echo 'nav:' >> docs/antora.yml
    - echo '  - modules/documentation/nav.adoc' >> docs/antora.yml
    - antora site.yml --stacktrace
    - echo '<html><meta http-equiv="refresh" content="0; url=./docs/latest/index.html"/></html>' > public/index.html
  artifacts:
    expire_in: 3 month
    paths:
      - public
  only:
    changes:
      - site.yml
      - docs/**/*

quotes
  formulas/k8s-gitlab-runner/configure.sls
Due: salt-lint

join list
  formulas/k8s-gitlab-runner/configure.sls
Due: salt-lint

quotes on string
  formulas/k8s-gitlab-runner/configure.sls
Due: salt-lint

removed tags
  formulas/k8s-gitlab-runner/configure.sls
Due: salt-lint

creat rbac
  formulas/k8s-gitlab-runner/configure.sls
Due: salt-lint

Resolve "[ feature ] Need to add gitlab-runner to kubernetes"
  formulas/k8s-gitlab-runner/configure.sls
  formulas/k8s-gitlab-runner/init.sls
  formulas/k8s-gitlab-runner/install.sls
  orch/k8s-gitlab-runner.sls
Due: salt-lint

privileged to work with dind
  formulas/k8s-gitlab-runner/configure.sls
Due: salt-lint

custom salt module for helm installs
  _modules/kinetic-helm.py
  _states/k8s-helm.py
  formulas/k8s-gitlab-runner/configure.sls
Due: salt-lint, pylint

trying to deploy with annos
  formulas/k8s-gitlab-runner/configure.sls
Due: salt-lint

helm repo shell = true
  _modules/kinetic-helm.py
Due: pylint

added debug option
  _modules/kinetic-helm.py
  _states/k8s-helm.py
  formulas/k8s-gitlab-runner/configure.sls
Due: salt-lint, pylint

moved pod annotations
  formulas/k8s-gitlab-runner/configure.sls
Due: salt-lint

Resolve "module to helm install - update"
  _modules/kinetic-helm.py
  _states/k8s-helm.py
  formulas/k8s-gitlab-runner/configure.sls
Due: salt-lint, pylint

runner config
  formulas/k8s-gitlab-runner/configure.sls
Due: salt-lint

under the runner config
  formulas/k8s-gitlab-runner/configure.sls
Due: salt-lint

typo on runner config
  formulas/k8s-gitlab-runner/configure.sls
Due: salt-lint

pod annotations
  formulas/k8s-gitlab-runner/configure.sls
Due: salt-lint

typo = instead of :
  _modules/kinetic-helm.py
  formulas/k8s-gitlab-runner/configure.sls
Due: salt-lint, pylint

typo in helm command
  _modules/kinetic-helm.py
Due: pylint

make sure value is lower case
  formulas/k8s-gitlab-runner/configure.sls
Due: salt-lint

Resolve "[feature] add gitlab runner to k8s"
  formulas/k8s-gitlab-runner/configure.sls
Due: salt-lint

setting up helm repos
  formulas/osh-helm-repos/configure.sls
  formulas/osh-helm-repos/init.sls
  formulas/osh-helm-repos/install.sls
  formulas/osh-rook-apdapter/configure.sls
  formulas/osh-rook-apdapter/init.sls
  formulas/osh-rook-apdapter/install.sls
  orch/k8s-osh-helm-repos.sls
Due: salt-lint

add service for public endpoint
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/osh-endpoints/configure.sls
  formulas/osh-endpoints/init.sls
  formulas/osh-endpoints/install.sls
Due: salt-lint, pylint

orch for k8s-osh-endpoints
  orch/k8s-osh-endpoints.sls
Due: salt-lint

added orch script osh endpoints
  orch/k8s-osh-endpoints.sls
Due: salt-lint

typo include statement
  formulas/osh-endpoints/configure.sls
Due: salt-lint

added saltstack name for function
  formulas/osh-endpoints/configure.sls
Due: salt-lint

name the salt state
  _states/k8s.py
Due: pylint

removed name
  _modules/kinetic-k8s.py
Due: pylint

typoed the3 kinetic-k8s module
  _modules/kinetic-k8s.py
  _states/k8s.py
Due: pylint

Resolve "[feature] add external api endpoint"
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/osh-endpoints/configure.sls
  formulas/osh-endpoints/init.sls
  formulas/osh-endpoints/install.sls
  orch/k8s-osh-endpoints.sls
Due: salt-lint, pylint

added state to install ceph adapter
  formulas/osh-rook-apdapter/configure.sls
Due: salt-lint

added orch script
  orch/k8s-osh-rook-adapter.sls
Due: salt-lint

rename
  formulas/osh-rook-adapter/configure.sls
  formulas/osh-rook-adapter/init.sls
  formulas/osh-rook-adapter/install.sls
Due: salt-lint

removed require
  formulas/osh-rook-adapter/configure.sls
Due: salt-lint

set cluster namspace
  formulas/osh-rook-adapter/configure.sls
Due: salt-lint

keep files for helm debug
  formulas/osh-rook-adapter/configure.sls
Due: salt-lint

added label function to k8s script
  _modules/kinetic-k8s.py
  _states/k8s.py
Due: pylint

added osh labels
  formulas/osh-endpoints/configure.sls
Due: salt-lint
