Repository gacybercenter/kinetic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: salt-lint, pylint, pages

salt-lint:
  stage: lint
  tags:
  - docker
  script:
  - pip install salt-lint
  - salt-lint --json --severity $(find . -name \*.sls) > codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always

pylint:
  stage: lint
  tags:
  - docker
  image: python:slim
  before_script:
  - pip install pylint_gitlab
  script:
  - pylint --exit-zero --output-format=text $(find ./_modules ./_runners ./_states -type f -name "*.py") | tee /tmp/pylint.txt
  ...

pages:
  tags:
  - docker-gcc
  stage: pages
  image:
    name: antora/antora:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  - echo 'nav:' >> docs/antora.yml
  - echo '  - modules/documentation/nav.adoc' >> docs/antora.yml
  - antora site.yml --stacktrace
  ...

salt uuids assumed
  _modules/kinetic-k8s.py
Due: pylint

assumed uuids
  _states/k8s.py
Due: pylint

salt uuids
  formulas/bmo/configure.sls
Due: salt-lint

salt-call
  _states/k8s.py
Due: pylint

updated output
  _modules/kinetic-k8s.py
Due: pylint

get
  _states/k8s.py
Due: pylint

updated messaging
  _modules/kinetic-k8s.py
  _states/k8s.py
Due: pylint

updated uuids
  _modules/kinetic-k8s.py
  _states/k8s.py
Due: pylint

updated module
  _modules/kinetic-k8s.py
Due: pylint

different type of pillar
  _modules/kinetic-k8s.py
Due: pylint

uuids
  formulas/bmo/configure.sls
Due: salt-lint

simplified uuid
  formulas/bmo/configure.sls
Due: salt-lint

simplified uuids
  _modules/kinetic-k8s.py
Due: pylint

uuids
  _states/k8s.py
Due: pylint

updated
  _modules/kinetic-k8s.py
  _states/k8s.py
Due: pylint

salt-master pillar key
  formulas/bmo/configure.sls
Due: salt-lint

uuid string
  _modules/kinetic-k8s.py
Due: pylint

updated for debug purposes
  _modules/kinetic-k8s.py
Due: pylint

debugging
  _states/k8s.py
Due: pylint

uuids instead of salt-master
  _modules/kinetic-k8s.py
Due: pylint

updates salt-master uuids
  _modules/kinetic-k8s.py
Due: pylint

updated strinfdata
  _modules/kinetic-k8s.py
Due: pylint

setup
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/bmo/configure.sls
Due: salt-lint, pylint

checking pillar instead of test.ping
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/bmo/configure.sls
Due: salt-lint, pylint

pause for 15 after deployment restart
  _modules/kinetic-k8s.py
Due: pylint

updated to 20 seconds
  _modules/kinetic-k8s.py
Due: pylint

pillar uuids from bmh pillar
  _modules/kinetic-k8s.py
Due: pylint

example of pillar data
  formulas/bmo/pillar.example
Due: salt-lint

bmh instead of salt-master
  _states/k8s.py
  formulas/bmo/configure.sls
Due: salt-lint, pylint

Resolve "[feature] add minion uuid secret to salt-master"
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/bmo/configure.sls
  formulas/bmo/pillar.example
Due: salt-lint, pylint

states for kinetic-k8s module
  _states/k8s.py
Due: pylint

using state instead of module
  formulas/bmo/configure.sls
Due: salt-lint

typo
  formulas/bmo/configure.sls
Due: salt-lint

name issue
  formulas/bmo/configure.sls
Due: salt-lint

k8s instead of module
  formulas/bmo/configure.sls
Due: salt-lint

networkdata state
  formulas/bmo/configure.sls
Due: salt-lint

pillar key
  formulas/bmo/configure.sls
Due: salt-lint

Path conditions:
  salt-lint: any of: formulas/**/*, orch/**/*, reactor/**/*
  pylint: any of: _grains/**/*, _modules/**/*, _runners/**/*, _states/**/*
  pages: any of: site.yml, docs/**/*
