Repository gacybercenter/kinetic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: salt-lint, pylint, pages

salt-lint:
  stage: lint
  tags:
  - docker
  script:
  - pip install salt-lint
  - salt-lint --json --severity $(find . -name \*.sls) > codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always

pylint:
  stage: lint
  tags:
  - docker
  image: python:slim
  before_script:
  - pip install pylint_gitlab
  script:
  - pylint --exit-zero --output-format=text $(find ./_modules ./_runners ./_states -type f -name "*.py") | tee /tmp/pylint.txt
  ...

pages:
  tags:
  - docker-gcc
  stage: pages
  image:
    name: antora/antora:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  - echo 'nav:' >> docs/antora.yml
  - echo '  - modules/documentation/nav.adoc' >> docs/antora.yml
  - antora site.yml --stacktrace
  ...

Fix interface template formatting and conditional logic
  formulas/common/networking/files/interfaces.j2
Due: salt-lint

Fix management interface conditional in networking template
  formulas/common/networking/files/interfaces.j2
Due: salt-lint

Migrate networking from ifupdown to Netplan
  formulas/common/networking.sls
  formulas/common/networking/files/netplan.yaml.j2
Due: salt-lint

Add promiscuous mode systemd service for bridges
  formulas/common/networking.sls
  formulas/common/networking/files/netplan.yaml.j2
  formulas/common/networking/files/promisc-mode.service.j2
Due: salt-lint

Add bond interface support in netplan template
  formulas/common/networking/files/netplan.yaml.j2
Due: salt-lint

Replace lacp-rate numeric value with string equivalent
  formulas/common/networking/files/netplan.yaml.j2
Due: salt-lint

Fix netplan.j2 template indentation and structure
  formulas/common/networking/files/netplan.yaml.j2
Due: salt-lint

Add missing Jinja endif for netplan config
  formulas/common/networking/files/netplan.yaml.j2
Due: salt-lint

Add kinetic_netplan Salt modules and update networking state
  _modules/kinetic-netplan.py
  _states/kinetic-netplan.py
  formulas/common/networking.sls
  formulas/common/networking/files/interfaces.j2
  formulas/common/networking/files/netplan.yaml.j2
  formulas/common/networking/files/promisc-mode.service.j2
Due: salt-lint, pylint

Convert single quotes to double quotes in kinetic-netplan module
  _modules/kinetic-netplan.py
Due: pylint

Replace salt file module with os for chown/chmod
  _modules/kinetic-netplan.py
Due: pylint

Remove unused pillar_key argument from netplan config
  formulas/common/networking.sls
Due: salt-lint

Fix pillar key lookup in kinetic-netplan
  _modules/kinetic-netplan.py
Due: pylint

Fix netplan network lookup to use host_type directly
  _modules/kinetic-netplan.py
Due: pylint

Update pillar key references from res-k8s to hosts
  _modules/kinetic-netplan.py
Due: pylint

Simplify pillar data access using __salt__ calls
  _modules/kinetic-netplan.py
Due: pylint

Ensure all interfaces appear in ethernets config
  _modules/kinetic-netplan.py
Due: pylint

Change lacp-rate from 1 to fast in bond config
  _modules/kinetic-netplan.py
Due: pylint

Fetch DHCP options and addresses from pillar once
  _modules/kinetic-netplan.py
Due: pylint

Ensure promiscuous mode persists via systemd service
  _modules/kinetic-netplan.py
Due: pylint

Update promiscuous mode to use template and declarative config
  _modules/kinetic-netplan.py
  formulas/common/networking.sls
Due: salt-lint, pylint

Add promisc-mode systemd service template
  formulas/common/networking/files/promisc-mode.service.j2
Due: salt-lint

Update promisc-mode service to run without bash
  formulas/common/networking/files/promisc-mode.service.j2
Due: salt-lint

Remove traefik ingress controller installation
  formulas/common/k8s-ingress-controller/install.sls
Due: salt-lint

Remove MTU override from Cilium Helm release
  formulas/common/k8s-cilium/init.sls
Due: salt-lint

Uncomment internal and external ingress service definitions
  formulas/common/k8s-ingress-controller/configure.sls
Due: salt-lint

Refactor k8s helm states to use pillar_key parameter
  formulas/common/k8s-certmanager/install.sls
  formulas/common/k8s-ingress-controller/install.sls
Due: salt-lint

Refactor cert-manager install to use k8s_helm module
  formulas/common/k8s-certmanager/install.sls
Due: salt-lint

Add Gateway API resource management functions
  _modules/kinetic-k8s.py
  _states/k8s.py
Due: pylint

Replace legacy LoadBalancer services with Gateway API for internal gateway
  formulas/common/k8s-ingress-controller/configure.sls
Due: salt-lint

Fix MetalLB IP reference paths in k8s-ingress-controller
  formulas/common/k8s-ingress-controller/configure.sls
Due: salt-lint

Remove disabled Traefik external ingress config
  formulas/common/k8s-ingress-controller/install.sls
Due: salt-lint

Comment out unused Traefik internal ingress controller state
  formulas/common/k8s-ingress-controller/install.sls
Due: salt-lint

Add allowed_listeners parameter to gateway_present state
  _states/k8s.py
Due: pylint

Add allowed_listeners parameter to gateway_present
  _modules/kinetic-k8s.py
Due: pylint

Truncate error messages fully in gateway_present
  _modules/kinetic-k8s.py
Due: pylint

Update gateway_present to auto-add dummy listener when only allowed_listeners provided
  _modules/kinetic-k8s.py
  _states/k8s.py
Due: pylint

Update configure.sls
  formulas/common/k8s-ingress-controller/configure.sls
Due: salt-lint

Enable traefik-internal ingress controller deployment
  formulas/common/k8s-ingress-controller/install.sls
Due: salt-lint

Update traefik internal ingress pillar key
  formulas/common/k8s-ingress-controller/install.sls
Due: salt-lint

Path conditions:
  salt-lint: any of: formulas/**/*, orch/**/*, reactor/**/*
  pylint: any of: _grains/**/*, _modules/**/*, _runners/**/*, _states/**/*
  pages: any of: site.yml, docs/**/*
