Repository gacybercenter/kinetic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: salt-lint, pylint, pages

salt-lint:
  stage: lint
  tags:
  - docker
  script:
  - pip install salt-lint
  - salt-lint --json --severity $(find . -name \*.sls) > codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always

pylint:
  stage: lint
  tags:
  - docker
  image: python:slim
  before_script:
  - pip install pylint_gitlab
  script:
  - pylint --exit-zero --output-format=text $(find ./_modules ./_runners ./_states -type f -name "*.py") | tee /tmp/pylint.txt
  ...

pages:
  tags:
  - docker-gcc
  stage: pages
  image:
    name: antora/antora:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  - echo 'nav:' >> docs/antora.yml
  - echo '  - modules/documentation/nav.adoc' >> docs/antora.yml
  - antora site.yml --stacktrace
  ...

Use higher-level OpenStack SDK methods for role assignment
  _modules/kinetic-openstack.py
Due: pylint

Fix indentation in kinetic-openstack.py
  _modules/kinetic-openstack.py
Due: pylint

Use Keystone REST API directly for group role operations
  _modules/kinetic-openstack.py
Due: pylint

Use session.get_endpoint() for explicit endpoint resolution
  _modules/kinetic-openstack.py
Due: pylint

Add diagnostic function for role assignment troubleshooting
  _modules/kinetic-openstack.py
Due: pylint

Add response logging and details to role operations
  _modules/kinetic-openstack.py
Due: pylint

Add retry logic for role assignment/revocation endpoints
  _modules/kinetic-openstack.py
Due: pylint

Remove v3 API version from OpenStack role assignment URLs
  _modules/kinetic-openstack.py
Due: pylint

Fix inconsistent update_result key access in update_group
  _modules/ldap_utils.py
Due: pylint

Support full DN in LDAP group member configurations
  formulas/common/ldapadmin/configure.sls
Due: salt-lint

Remove LDAP provisioning configuration file Remove LDAP provisioning configuration file
  formulas/common/ldapadmin/create_users.sls
  formulas/common/ldapadmin/prov.sls
Due: salt-lint

Add user creation to LDAP admin configuration
  formulas/common/ldapadmin/configure.sls
Due: salt-lint

Add LDAP user creation logic in configure.sls
  formulas/common/ldapadmin/configure.sls
Due: salt-lint

Fix variable name in ldap.user_present for dn_exists check
  _states/ldap.py
Due: pylint

Fix capitalization of groupOfNames object class
  _modules/ldap_utils.py
Due: pylint

Correct objectClass case to 'groupOfNames' in update_group
  _modules/ldap_utils.py
Due: pylint

Add missing blank line for PEP 8 compliance in ldap_utils.py
  _modules/ldap_utils.py
Due: pylint

Remove k8s-logger install include from base
  formulas/common/base.sls
Due: salt-lint

Fix nftables SLS syntax and trailing whitespace
  formulas/common/nftables/nftables.sls
Due: salt-lint

Fix style inconsistencies and clean up whitespace
  _modules/kinetic-libvirt.py
  formulas/bmo/configure.sls
  formulas/controller/configure.sls
Due: salt-lint, pylint

Remove redundant conditional for virtual hosts
  formulas/bmo/configure.sls
Due: salt-lint

Remove unnecessary quotes from libvirt connection URIs
  formulas/bmo/configure.sls
Due: salt-lint

Update libvirt module naming and add storage/VM management functions
  _modules/kinetic-libvirt.py
  _states/libvirt.py
  formulas/bmo/configure.sls
Due: salt-lint, pylint

Replace Calico with Cilium networking in bootstrap
  orch/k8s-bootstrap.sls
Due: salt-lint

Add Cilium CNI formula with Helm deployment
  formulas/common/k8s-cilium/PILLAR-EXAMPLE.md
  formulas/common/k8s-cilium/files/cilium-values.j2
  formulas/common/k8s-cilium/init.sls
  formulas/common/k8s-cilium/install.sls
Due: salt-lint

Add k8s-multus formula for Multus CNI deployment
  formulas/common/k8s-multus/PILLAR-EXAMPLE.md
  formulas/common/k8s-multus/init.sls
  formulas/common/k8s-multus/install.sls
Due: salt-lint

Update pillar keys for Cilium and Multus charts
  formulas/common/k8s-cilium/init.sls
  formulas/common/k8s-multus/init.sls
Due: salt-lint

Update Kubernetes version to v1.34.9
  orch/k8s-bootstrap.sls
Due: salt-lint

Remove unnecessary k8s include and fix multus state
  formulas/common/k8s-multus/install.sls
  orch/k8s-bootstrap.sls
Due: salt-lint

Remove unused k8s include from cilium install state
  formulas/common/k8s-cilium/install.sls
Due: salt-lint

Remove unnecessary SLS dependency in Cilium and Multus states
  formulas/common/k8s-cilium/init.sls
  formulas/common/k8s-multus/init.sls
Due: salt-lint

Fix Cilium pillar example and correct Multus state path
  formulas/common/k8s-cilium/PILLAR-EXAMPLE.md
  orch/k8s-bootstrap.sls
Due: salt-lint

Update multus helm chart repo URL
  formulas/common/k8s-multus/init.sls
Due: salt-lint

Update Multus Helm repo and chart source
  formulas/common/k8s-multus/init.sls
Due: salt-lint

Update multus helm repo name to bitnami
  formulas/common/k8s-multus/init.sls
Due: salt-lint

Add Multus NAD creation and fix Cilium MTU detection
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/common/k8s-cilium/PILLAR-EXAMPLE.md
  formulas/common/k8s-cilium/init.sls
  orch/k8s-bootstrap.sls
Due: salt-lint, pylint

Update Multus Helm repo and move network attachments into init
  formulas/common/k8s-multus/init.sls
  orch/k8s-bootstrap.sls
Due: salt-lint

Update Multus Helm chart source to Bitnami repository
  formulas/common/k8s-multus/init.sls
Due: salt-lint

Switch from Helm chart to direct manifest install for Multus
  formulas/common/k8s-multus/init.sls
Due: salt-lint

Adjust network attachment range ends to 200
  formulas/common/k8s-multus/init.sls
Due: salt-lint

Path conditions:
  salt-lint: any of: formulas/**/*, orch/**/*, reactor/**/*
  pylint: any of: _grains/**/*, _modules/**/*, _runners/**/*, _states/**/*
  pages: any of: site.yml, docs/**/*
