Repository gacybercenter/kinetic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: salt-lint, pylint, pages

salt-lint:
  stage: lint
  tags:
  - docker
  script:
  - pip install salt-lint
  - salt-lint --json --severity $(find . -name \*.sls) > codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always

pylint:
  stage: lint
  tags:
  - docker
  image: python:slim
  before_script:
  - pip install pylint_gitlab
  script:
  - pylint --exit-zero --output-format=text $(find ./_modules ./_runners ./_states -type f -name "*.py") | tee /tmp/pylint.txt
  ...

pages:
  tags:
  - docker-gcc
  stage: pages
  image:
    name: antora/antora:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  - echo 'nav:' >> docs/antora.yml
  - echo '  - modules/documentation/nav.adoc' >> docs/antora.yml
  - antora site.yml --stacktrace
  ...

Improve code formatting and consistency in kinetic-os module
  _modules/kinetic-os.py
Due: pylint

Restrict log_writer role to openldap-audit-logs- indices
  formulas/common/k8s-efk/yaml-secrets.sls
Due: salt-lint

Update log_writer role to use wildcard for index_name
  formulas/common/k8s-efk/yaml-secrets.sls
Due: salt-lint

Refine index_name pattern in log_writer role
  formulas/common/k8s-efk/yaml-secrets.sls
Due: salt-lint

Update osh-rabbitmq SLS to target configure state
  orch/k8s-osh-rabbitmq.sls
Due: salt-lint

Refactor Keystone deployment to use OpenStack Helm chart
  formulas/keystone/configure.sls
  formulas/keystone/init.sls
  formulas/keystone/install.sls
  formulas/keystone/old/files/apache-keystone.conf
  formulas/keystone/old/files/apache2.conf
  formulas/keystone/old/files/configure.sls
  formulas/keystone/old/files/httpd.conf
  formulas/keystone/old/files/keystone-ldap.conf
  formulas/keystone/old/files/keystone.conf
  formulas/keystone/old/files/keystone.policy.yaml
  formulas/keystone/old/files/mk_user_projects.sh
  formulas/keystone/old/install.sls
Due: salt-lint

Add orchestration script for OpenStack Helm Keystone deployment
  orch/k8s-osh-keystone.sls
Due: salt-lint

Update keystone formula reference in OSH deployment
  orch/k8s-osh-keystone.sls
Due: salt-lint

Update file paths for k8s-ingress-controller and add keep_values_file
  formulas/osh-endpoints/configure.sls
  formulas/osh-mariadb/configure.sls
Due: salt-lint

Add debug logging for values_dict in helm_release_present
  _modules/kinetic-helm.py
Due: pylint

Add function to remove None values from values_dict in Helm module
  _modules/kinetic-helm.py
Due: pylint

Convert Helm values processing from JSON to YAML
  _modules/kinetic-helm.py
Due: pylint

Use existing temporary file for Helm values
  _modules/kinetic-helm.py
Due: pylint

Add keystone-admin secret and remove outdated README
  formulas/keystone/configure.sls
  orch/README.adoc
Due: salt-lint

Shorten k8s_secret to k8s in keystone configuration
  formulas/keystone/configure.sls
Due: salt-lint

Add secret_name parameter to keystone-admin secret configuration
  formulas/keystone/configure.sls
Due: salt-lint

Update Keystone requirement to use k8s instead of k8s_secret
  formulas/keystone/configure.sls
Due: salt-lint

Add Helm labels and annotations to keystone-admin secret
  formulas/keystone/configure.sls
Due: salt-lint

Add missing secret_name parameter to keystone-admin secret
  formulas/keystone/configure.sls
Due: salt-lint

Add SaltStack states for OLM and OpenStack Helm deployments
  formulas/olm/configure.sls
  formulas/olm/init.sls
  formulas/olm/install.sls
  orch/README.old
  orch/osh-mariadb.md
  orch/osh-memcached.md
  orch/osh-rabbitmq.md
Due: salt-lint

Add Salt state for installing OLM on Kubernetes cluster
  orch/k8s-olm.sls
Due: salt-lint

Update k8s-olm installation path in orchestration file
  orch/k8s-olm.sls
Due: salt-lint

Rename k8s-olm formula to olm in orchestration file
  orch/k8s-olm.sls
Due: salt-lint

Update OLM installation configuration
  formulas/olm/configure.sls
Due: salt-lint

Rename OLM release to 'olm'
  formulas/olm/configure.sls
Due: salt-lint

Add support for Helm --set and --values options
  _modules/kinetic-helm.py
  _states/k8s-helm.py
  formulas/osh-endpoints/configure.sls
Due: salt-lint, pylint

Remove dependency on nginx_controller_installed test from namespace
  formulas/osh-endpoints/configure.sls
Due: salt-lint

Remove unnecessary dependency on nginx_controller_installed test
  formulas/osh-endpoints/configure.sls
Due: salt-lint

Remove redundant function definition in k8s-helm.py
  _states/k8s-helm.py
Due: pylint

Update docstrings for Helm release functions
  _modules/kinetic-helm.py
  _states/k8s-helm.py
Due: pylint

Update rook adapter configuration syntax
  formulas/osh-rook-adapter/configure.sls
Due: salt-lint

Update RabbitMQ configuration to set admin credentials
  formulas/osh-rabbitmq/configure.sls
Due: salt-lint

Update RabbitMQ username to 'rabbitmq' in configuration
  formulas/osh-rabbitmq/configure.sls
Due: salt-lint

Comment out RabbitMQ credential settings in configure.sls
  formulas/osh-rabbitmq/configure.sls
Due: salt-lint

Enable RabbitMQ authentication settings in configuration
  formulas/osh-rabbitmq/configure.sls
Due: salt-lint

Update MariaDB configuration to disable keep_values_file
  formulas/osh-mariadb/configure.sls
Due: salt-lint

Remove keystone-admin secret and add Helm set_values
  formulas/keystone/configure.sls
Due: salt-lint

Add Keystone credentials for Oslo messaging auth
  formulas/keystone/configure.sls
Due: salt-lint

Fix spacing in keystone configuration file
  formulas/keystone/configure.sls
Due: salt-lint

Update identity auth parameter paths in Keystone config
  formulas/keystone/configure.sls
Due: salt-lint

Path conditions:
  salt-lint: any of: formulas/**/*, orch/**/*, reactor/**/*
  pylint: any of: _grains/**/*, _modules/**/*, _runners/**/*, _states/**/*
  pages: any of: site.yml, docs/**/*
