Repository gacybercenter/kinetic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: salt-lint, pylint, pages

salt-lint:
  stage: lint
  tags:
  - docker
  script:
  - pip install salt-lint
  - salt-lint --json --severity $(find . -name \*.sls) > codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always

pylint:
  stage: lint
  tags:
  - docker
  image: python:slim
  before_script:
  - pip install pylint_gitlab
  script:
  - pylint --exit-zero --output-format=text $(find ./_modules ./_runners ./_states -type f -name "*.py") | tee /tmp/pylint.txt
  ...

pages:
  tags:
  - docker-gcc
  stage: pages
  image:
    name: antora/antora:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  - echo 'nav:' >> docs/antora.yml
  - echo '  - modules/documentation/nav.adoc' >> docs/antora.yml
  - antora site.yml --stacktrace
  ...

Fix typo in LDAP install script for base64 encoding function
  formulas/common/ldap/install.sls
Due: salt-lint

Add custom SaltStack module and state for LDAP operations
  _modules/ldap_utils.py
  _states/ldap.py
Due: pylint

Add Salt state for LDAP provisioning setup
  formulas/common/ldap/prov.sls
Due: salt-lint

Update Guacamole Docker image to version 1..6.0 Update Guacamole Docker image to version 1.6.0
  formulas/guacamole/configure.sls
Due: salt-lint

Add .gitignore with compiled Python file exclusion
  .gitignore
Due: none

Update Guacamole Docker image to version 1..6.0 Update Guacamole Docker image to version 1.6
  formulas/guacamole/configure.sls
Due: salt-lint

.0 Downgrade Guacamole and Guacd to version 1.5.5
  formulas/guacamole/configure.sls
Due: salt-lint

Update Guacamole and Guacd to version 1.6.0
  formulas/guacamole/configure.sls
Due: salt-lint

Add WEBAPP_CONTEXT configuration for Guacamole
  formulas/guacamole/configure.sls
Due: salt-lint

Downgrade Guacamole to version 1.5.5
  formulas/guacamole/configure.sls
Due: salt-lint

Add orchestration script for Kubernetes LDAP provisioning
  orch/k8s-ldap-prov.sls
Due: salt-lint

Remove unnecessary dependency from LDAP connection spec
  formulas/common/ldap/prov.sls
Due: salt-lint

Clean up whitespace and remove stray character in ldap_utils.py
  _modules/ldap_utils.py
Due: pylint

Simplify default settings in LDAP connection setup
  _modules/ldap_utils.py
Due: pylint

Fix duplicate function definition in ldap_utils.py
  _modules/ldap_utils.py
Due: pylint

Refactor LDAP connection config to use a single dictionary
  _modules/ldap_utils.py
Due: pylint

Remove unsupported 'validate' key from TLS configuration
  _modules/ldap_utils.py
Due: pylint

Add simple bind method to LDAP connection spec
  formulas/common/ldap/prov.sls
Due: salt-lint

Update TLS parameter name from 'ca_certs_file' to 'cacertfile'
  _modules/ldap_utils.py
  formulas/common/ldap/prov.sls
Due: salt-lint, pylint

Update TLS configuration key to 'cacertfile' in LDAP state
  _states/ldap.py
Due: pylint

Make TLS configuration optional in LDAP connection spec
  _modules/ldap_utils.py
Due: pylint

Make TLS configuration mandatory in LDAP connection spec
  _modules/ldap_utils.py
Due: pylint

Replace salt.modules.ldap3 with direct python-ldap usage
  _modules/ldap_utils.py
Due: pylint

Add TLS context refresh option in LDAP connection setup
  _modules/ldap_utils.py
Due: pylint

Simplify LDAP root DN configuration in prov.sls
  formulas/common/ldap/prov.sls
Due: salt-lint

Update LDAP root DN to use pillar data for DN and organization name
  formulas/common/ldap/prov.sls
Due: salt-lint

Update LDAP root DN pillar references in prov.sls
  formulas/common/ldap/prov.sls
Due: salt-lint

Enhance LDAP root DN handling with attribute comparison
  _modules/ldap_utils.py
Due: pylint

Update LDAP root_dn_present to handle attribute updates
  _states/ldap.py
Due: pylint

Ensure LDAP attribute values are encoded as byte strings
  _modules/ldap_utils.py
Due: pylint

Add support for creating and managing LDAP Organizational Units
  _modules/ldap_utils.py
  _states/ldap.py
Due: pylint

Add creation of Organizational Units in LDAP setup
  formulas/common/ldap/prov.sls
Due: salt-lint

Handle NO_SUCH_OBJECT as non-error in root_dn_exists
  _modules/ldap_utils.py
Due: pylint

Add LDAP user and group creation utilities
  _modules/ldap_utils.py
  _states/ldap.py
Due: pylint

Add LDAP user and group provisioning
  formulas/common/ldap/prov.sls
Due: salt-lint

Add auditlog overlay configuration for LDAP database
  _modules/ldap_utils.py
  formulas/common/ldap/configure.sls
Due: salt-lint, pylint

Add prov inclusion to LDAP configuration
  formulas/common/ldap/configure.sls
Due: salt-lint

Add auditlog overlay configuration for LDAP database
  _states/ldap.py
Due: pylint

Simplify auditlog overlay configuration and remove redundant function
  _modules/ldap_utils.py
Due: pylint

Fix capitalization of olcAuditLogFile in LDAP auditlog config
  _modules/ldap_utils.py
Due: pylint

Path conditions:
  salt-lint: any of: formulas/**/*, orch/**/*, reactor/**/*
  pylint: any of: _grains/**/*, _modules/**/*, _runners/**/*, _states/**/*
  pages: any of: site.yml, docs/**/*
