Repository gacybercenter/kinetic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: salt-lint, pylint, pages

.gitlab-ci.yml:

image: python:slim

stages:
  - lint
  - pages

salt-lint:
  stage: lint
  tags:
    - docker
  script:
    - pip install salt-lint
    - salt-lint --json --severity $(find . -name \*.sls) > codeclimate.json
  only:
    changes:
      - formulas/**/*
      - orch/**/*
      - reactor/**/*
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always

pylint:
  stage: lint
  tags:
    - docker
  image: python:slim
  before_script:
    - pip install pylint_gitlab
  script:
    - pylint --exit-zero --output-format=text $(find ./_modules ./_runners ./_states -type f -name "*.py") | tee /tmp/pylint.txt
    - pylint --exit-zero --output-format=pylint_gitlab.GitlabCodeClimateReporter $(find ./_modules ./_runners ./_states -type f -name "*.py") >> codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always
  only:
    changes:
      - _grains/**/*
      - _modules/**/*
      - _runners/**/*
      - _states/**/*

pages:
  tags:
    - docker-gcc
  stage: pages
  image:
    name: antora/antora:latest
    entrypoint: [/bin/sh, -c]
  script:
    - echo 'nav:' >> docs/antora.yml
    - echo '  - modules/documentation/nav.adoc' >> docs/antora.yml
    - antora site.yml --stacktrace
    - echo '<html><meta http-equiv="refresh" content="0; url=./docs/latest/index.html"/></html>' > public/index.html
  artifacts:
    expire_in: 3 month
    paths:
      - public
  only:
    changes:
      - site.yml
      - docs/**/*

Implement fallback to create_group when group does not exist
  _modules/ldap_utils.py
Due: pylint

Add detailed logging to LDAP root DN update process
  _modules/ldap_utils.py
Due: pylint

Refine LDAP group member formatting and log message
  _modules/ldap_utils.py
  formulas/common/ldapadmin/configure.sls
Due: salt-lint, pylint

Add result flag for failure cases in update_root_dn
  _modules/ldap_utils.py
Due: pylint

Check for ldap_utils module availability before use
  _states/ldap.py
Due: pylint

Add debug logging for LDAP group DN construction
  formulas/common/ldapadmin/configure.sls
Due: salt-lint

Add fallback to create LDAP group if update fails
  _states/ldap.py
  formulas/common/ldapadmin/configure.sls
Due: salt-lint, pylint

Remove debug logging from LDAP group configuration
  formulas/common/ldapadmin/configure.sls
Due: salt-lint

Remove test mode and fallback logic from group_present
  _states/ldap.py
Due: pylint

Remove unused OU variables from LDAP configuration
  formulas/common/ldapadmin/configure.sls
Due: salt-lint

Fix typo in error message for group update failure
  _modules/ldap_utils.py
Due: pylint

Fix typo in error message for group update failure
  _states/ldap.py
Due: pylint

Simplify group update logic for posixGroup checks
  _modules/ldap_utils.py
Due: pylint

Simplify condition check for root DN existence
  _modules/ldap_utils.py
Due: pylint

Add support for group and project domains in OpenStack roles
  _modules/kinetic-openstack.py
  _states/kinetic-openstack.py
  formulas/common/ldapadmin/configure.sls
Due: salt-lint, pylint

Refactor role assignments in ldapadmin configuration
  formulas/common/ldapadmin/configure.sls
Due: salt-lint

Remove user and group creation from LDAP configuration
  formulas/common/ldap/configure.sls
Due: salt-lint

Remove truncation of error messages in IPAddressPool operations
  _modules/kinetic-k8s.py
Due: pylint

Rename kinetic-k8s module to kubernetes_k8s
  _modules/kubernetes_k8s.py
  _states/k8s.py
  formulas/common/sources/files/netplan-network.j2
Due: salt-lint, pylint

Refactor Kubernetes module to extract utility functions
  _modules/kubernetes_k8s.py
  _states/k8s.py
Due: pylint

Remove unused helper functions
  _modules/kubernetes_k8s.py
Due: pylint

Add helper functions for Kubernetes config and secret handling
  _modules/kubernetes_k8s.py
Due: pylint

Fix k8s state module availability check
  _states/k8s.py
Due: pylint

Fix MetalLB pool namespace and add state ID
  formulas/common/ldap/install.sls
Due: salt-lint

Rename kubernetes_k8s to kinetic_k8s
  _states/k8s.py
Due: pylint

Normalize module name to use hyphens
  _modules/kinetic-k8s.py
  _states/k8s.py
Due: pylint

Rename kinetic-k8s module to kinetic_k8s
  _modules/kinetic-k8s.py
  _states/k8s.py
Due: pylint

Resolve merge conflict and reformat function call
  _states/k8s.py
Due: pylint

Remove duplicate endfor in ldapadmin configure
  formulas/common/ldapadmin/configure.sls
Due: salt-lint

Fix indentation and replace hyphens with underscores in module names
  formulas/common/ldapadmin/configure.sls
Due: salt-lint

Replace hyphens with underscores in module name
  _modules/kinetic-openstack.py
  _states/kinetic-openstack.py
Due: pylint

Update parameter name to project_name_or_id
  _states/kinetic-openstack.py
Due: pylint

Add name parameter to role assignment functions
  _states/kinetic-openstack.py
Due: pylint

Change LDAP group objectClass from posixGroup to groupofnames
  _modules/ldap_utils.py
Due: pylint

Switch LDAP group objectClass from groupofnames to groupofuniquenames
  _modules/ldap_utils.py
Due: pylint

Replace groupofuniquenames with groupofnames
  _modules/ldap_utils.py
  formulas/common/ldapadmin/configure.sls
Due: salt-lint, pylint

Add helper function to resolve domain names to IDs
  _modules/kinetic-openstack.py
Due: pylint
