Repository gacybercenter/kinetic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: salt-lint, pylint, pages

.gitlab-ci.yml:

image: python:slim

stages:
  - lint
  - pages

salt-lint:
  stage: lint
  tags:
    - docker
  script:
    - pip install salt-lint
    - salt-lint --json --severity $(find . -name \*.sls) > codeclimate.json
  only:
    changes:
      - formulas/**/*
      - orch/**/*
      - reactor/**/*
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always

pylint:
  stage: lint
  tags:
    - docker
  image: python:slim
  before_script:
    - pip install pylint_gitlab
  script:
    - pylint --exit-zero --output-format=text $(find ./_modules ./_runners ./_states -type f -name "*.py") | tee /tmp/pylint.txt
    - pylint --exit-zero --output-format=pylint_gitlab.GitlabCodeClimateReporter $(find ./_modules ./_runners ./_states -type f -name "*.py") >> codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always
  only:
    changes:
      - _grains/**/*
      - _modules/**/*
      - _runners/**/*
      - _states/**/*

pages:
  tags:
    - docker-gcc
  stage: pages
  image:
    name: antora/antora:latest
    entrypoint: [/bin/sh, -c]
  script:
    - echo 'nav:' >> docs/antora.yml
    - echo '  - modules/documentation/nav.adoc' >> docs/antora.yml
    - antora site.yml --stacktrace
    - echo '<html><meta http-equiv="refresh" content="0; url=./docs/latest/index.html"/></html>' > public/index.html
  artifacts:
    expire_in: 3 month
    paths:
      - public
  only:
    changes:
      - site.yml
      - docs/**/*

Fix syntax for nested dictionary access in LDAP config
  formulas/common/ldap/configure.sls
Due: salt-lint

Update LDAP configuration to use consistent Pillar syntax
  formulas/common/ldap/configure.sls
Due: salt-lint

Refactor ingress_present function for improved flexibility
  _modules/kinetic-k8s.py
Due: pylint

Refactor ingress_present function for better flexibility
  _states/k8s.py
Due: pylint

Update Kubernetes Ingress management with custom API client
  _modules/kinetic-k8s.py
Due: pylint

Refactor k8s ingress_present to use execution module
  _states/k8s.py
Due: pylint

Update Keycloak ingress configuration
  formulas/keycloak/configure.sls
Due: salt-lint

Refactor Ingress host handling to support detailed configurations
  _modules/kinetic-k8s.py
Due: pylint

Add ingress_present function for Kubernetes Ingress management
  _modules/kinetic-k8s.py
Due: pylint

Update Keycloak ingress to use dynamic host configurations
  formulas/keycloak/configure.sls
Due: salt-lint

Update ingress class name in Keycloak configuration
  formulas/keycloak/configure.sls
Due: salt-lint

Fix syntax error in Keycloak ingress hosts configuration
  formulas/keycloak/configure.sls
Due: salt-lint

Add DNS names to Keycloak certificate configuration
  formulas/keycloak/configure.sls
Due: salt-lint

Update Keycloak certificate configuration
  formulas/keycloak/configure.sls
Due: salt-lint

Update Keycloak cert configuration variable names
  formulas/keycloak/configure.sls
Due: salt-lint

Fix secret_name in Keycloak certificate configuration
  formulas/keycloak/configure.sls
Due: salt-lint

Fix typo in issuer_kind parameter for Keycloak cert
  formulas/keycloak/configure.sls
Due: salt-lint

Remove email_address from Keycloak certificate configuration
  formulas/keycloak/configure.sls
Due: salt-lint

Add resourceVersion sanitization and MetalLB pool for LDAP
  _modules/kinetic-k8s.py
  formulas/common/ldap/install.sls
Due: salt-lint, pylint

Enhance resourceVersion handling for cert-manager updates
  _modules/kinetic-k8s.py
Due: pylint

Truncate error message in certmanager_certificate_present
  _states/k8s.py
Due: pylint

Set default duration and renew_before for cert-manager Certificate
  _states/k8s.py
Due: pylint

Enhance error logging in certmanager_certificate_present
  _states/k8s.py
Due: pylint

Simplify error message format in certmanager_certificate_present
  _states/k8s.py
Due: pylint

Format error message for Certificate failure with newline
  _states/k8s.py
Due: pylint

Add error handling for result type in certmanager_certificate_present
  _states/k8s.py
Due: pylint

Remove resourceVersion handling for cert-manager updates
  _modules/kinetic-k8s.py
Due: pylint

Update k8s.py
  _states/k8s.py
Due: pylint

Enhance error handling in certmanager_certificate_present
  _modules/kinetic-k8s.py
Due: pylint

Add name parameter to LDAP TLS certificate configuration
  formulas/common/ldap/configure.sls
Due: salt-lint

Enhance Kubernetes config loading and certificate handling
  _modules/kinetic-k8s.py
Due: pylint

Update default values and improve error handling in k8s module
  _states/k8s.py
Due: pylint

Add orchestration scripts for Kubernetes auth components
  orch/k8s-auth-kc.sls
  orch/k8s-authdb.sls
  orch/k8s-authldap.sls
Due: salt-lint

Comment out LDAP Ingress configuration in LDAP formula
  formulas/common/ldap/configure.sls
  orch/k8s-authldap.sls
Due: salt-lint

Add support for CA certificates in cert-manager configuration
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/common/k8s-certmanager/configure.sls
Due: salt-lint, pylint

Remove extra space in log message formatting
  _modules/kinetic-k8s.py
Due: pylint

Add ClusterIssuer for CyberRange CA certificate
  formulas/common/k8s-certmanager/configure.sls
Due: salt-lint

Add Kubernetes secret for LDAP admin credentials
  formulas/common/ldap/install.sls
Due: salt-lint

Update OpenLDAP Helm repo URL to Symas GitHub repository
  formulas/common/ldap/install.sls
Due: salt-lint
