Repository gacybercenter/kinetic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: salt-lint, pylint, pages

salt-lint:
  stage: lint
  tags:
  - docker
  script:
  - pip install salt-lint
  - salt-lint --json --severity $(find . -name \*.sls) > codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always

pylint:
  stage: lint
  tags:
  - docker
  image: python:slim
  before_script:
  - pip install pylint_gitlab
  script:
  - pylint --exit-zero --output-format=text $(find ./_modules ./_runners ./_states -type f -name "*.py") | tee /tmp/pylint.txt
  ...

pages:
  tags:
  - docker-gcc
  stage: pages
  image:
    name: antora/antora:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  - echo 'nav:' >> docs/antora.yml
  - echo '  - modules/documentation/nav.adoc' >> docs/antora.yml
  - antora site.yml --stacktrace
  ...

add slaves
  formulas/common/networking_netplan.sls
Due: salt-lint

bond mode
  formulas/common/networking_netplan.sls
Due: salt-lint

require
  formulas/common/networking_netplan.sls
Due: salt-lint

removed machine-id
  formulas/bmo/files/cloudinit.j2
Due: salt-lint

using new networking state
  formulas/common/networking.sls
  formulas/common/networking_netplan.sls
  formulas/common/networking_old.sls
Due: salt-lint

changed to dict instead of list of dicts
  formulas/bmo/configure.sls
Due: salt-lint

changed name of ip
  formulas/bmo/configure.sls
Due: salt-lint

name
  formulas/bmo/configure.sls
Due: salt-lint

remove
  formulas/bmo/configure.sls
Due: salt-lint

typo
  formulas/bmo/configure.sls
Due: salt-lint

Resolve "[feature] kubernetes module"
  _modules/network_utils.py
  formulas/bmo/configure.sls
  formulas/bmo/files/cloudinit.j2
  formulas/common/networking.sls
  formulas/common/networking_old.sls
  formulas/common/sources/files/netplan-network.j2
Due: salt-lint, pylint

nat testing
  formulas/common/nftables/nftables.sls
Due: salt-lint

added bmh python module
  _modules/kinetic-k8s.py
  formulas/bmo/configure copy.sls
  formulas/bmo/configure.sls
  formulas/bmo/files/bmh-pillar-example.sls
Due: salt-lint, pylint

removed default values
  _modules/kinetic-k8s.py
Due: pylint

pillar example
  formulas/bmo/files/bmh-pillar-example.sls
Due: salt-lint

separated functions by data
  _modules/kinetic-k8s.py
Due: pylint

seprated the function by data rendered
  formulas/bmo/configure.sls
Due: salt-lint

jinja variable
  formulas/bmo/configure.sls
Due: salt-lint

added data renderer by type
  _modules/kinetic-k8s.py
  formulas/bmo/files/bmh-pillar-example.sls
Due: salt-lint, pylint

adjusted pillar references
  formulas/bmo/files/bmh.j2
Due: salt-lint

just use jinja renderer
  _modules/kinetic-k8s.py
Due: pylint

typo
  formulas/bmo/files/bmh.j2
Due: salt-lint

typo metadata
  formulas/bmo/files/bmh.j2
Due: salt-lint

type
  formulas/bmo/files/network-data.j2
Due: salt-lint

typoe
  formulas/bmo/files/network-data.j2
Due: salt-lint

typo
  formulas/bmo/files/network-data.j2
Due: salt-lint

bmh_type
  formulas/bmo/files/network-data.j2
Due: salt-lint

interface
  _modules/kinetic-k8s.py
Due: pylint

network context
  _modules/kinetic-k8s.py
Due: pylint

removed shebang to troubleshoot
  formulas/bmo/configure.sls
  formulas/bmo/files/bmh.j2
Due: salt-lint

pillar context
  formulas/bmo/files/bmh.j2
Due: salt-lint

correct pillar
  formulas/bmo/files/bmh.j2
Due: salt-lint

santize shebang before render
  _modules/kinetic-k8s.py
Due: pylint

sanitize rendered results
  _modules/kinetic-k8s.py
Due: pylint

typo
  _modules/kinetic-k8s.py
Due: pylint

added bmc_secret_present
  _modules/kinetic-k8s.py
  formulas/bmo/configure.sls
Due: salt-lint, pylint

Path conditions:
  salt-lint: any of: formulas/**/*, orch/**/*, reactor/**/*
  pylint: any of: _grains/**/*, _modules/**/*, _runners/**/*, _states/**/*
  pages: any of: site.yml, docs/**/*
