Repository gacybercenter/kinetic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: salt-lint, pylint, pages

salt-lint:
  stage: lint
  tags:
  - docker
  script:
  - pip install salt-lint
  - salt-lint --json --severity $(find . -name \*.sls) > codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always

pylint:
  stage: lint
  tags:
  - docker
  image: python:slim
  before_script:
  - pip install pylint_gitlab
  script:
  - pylint --exit-zero --output-format=text $(find ./_modules ./_runners ./_states -type f -name "*.py") | tee /tmp/pylint.txt
  ...

pages:
  tags:
  - docker-gcc
  stage: pages
  image:
    name: antora/antora:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  - echo 'nav:' >> docs/antora.yml
  - echo '  - modules/documentation/nav.adoc' >> docs/antora.yml
  - antora site.yml --stacktrace
  ...

Simplify dictionary access in group_present function
  _states/ldap.py
Due: pylint

Split LDAP user creation and update into separate functions
  _modules/ldap_utils.py
Due: pylint

Update LDAP user_present function to separate create and update logic
  _states/ldap.py
Due: pylint

Split group management into create and update functions
  _modules/ldap_utils.py
Due: pylint

Enhance LDAP group_present state with create/update logic
  _states/ldap.py
Due: pylint

Add documentation for OpenLDAP-HA setup with SaltStack
  formulas/common/ldap/README.md
Due: salt-lint

Update LDAP README with deployment and security details
  formulas/common/ldap/README.md
Due: salt-lint

Remove Heat formula configuration and installation files
  formulas/heat/configure.sls
  formulas/heat/files/heat.conf
  formulas/heat/install.sls
Due: salt-lint

Add initial Heat formula configuration and installation files
  formulas/heat/init.sls
  formulas/heat/old/configure.sls
  formulas/heat/old/files/heat.conf
  formulas/heat/old/install.sls
Due: salt-lint

Add certificate configuration for Heat and CloudFormation
  formulas/heat/configure.sls
  orch/k8s-osh-heat.sls
Due: salt-lint

Add ingress configurations for Heat and CloudFormation
  formulas/heat/configure.sls
Due: salt-lint

Add Helm chart installation for Heat service
  formulas/heat/configure.sls
Due: salt-lint

Fix Heat configuration to use correct pillar key for RabbitMQ password
  formulas/heat/configure.sls
Due: salt-lint

Update Heat configuration to use osh_values for user credentials
  formulas/heat/configure.sls
Due: salt-lint

Update admin password source in Heat configuration
  formulas/heat/configure.sls
Due: salt-lint

Update Heat configuration with new pillar value references
  formulas/heat/configure.sls
Due: salt-lint

Retain Heat values file during installation
  formulas/heat/configure.sls
Due: salt-lint

Add function to delete completed pods in Kubernetes
  _modules/kinetic-k8s.py
  _states/k8s.py
Due: pylint

Add state function to delete completed Kubernetes pods
  _states/k8s.py
Due: pylint

Add cleanup of completed pods in Heat configuration
  formulas/heat/configure.sls
Due: salt-lint

Update requirement name for Heat installation
  formulas/heat/configure.sls
Due: salt-lint

Reformat delete_completed_pods function for readability
  _modules/kinetic-k8s.py
Due: pylint

Rename delete_completed_pods to job_cleanup for consistency
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/heat/configure.sls
Due: salt-lint, pylint

Update return dictionary key from 'deleted_pods' to 'deleted_items'
  _modules/kinetic-k8s.py
Due: pylint

Remove duplicate job_cleanup function and clean up formatting
  _states/k8s.py
Due: pylint

Update k8s.job_cleanup to use new module function
  _states/k8s.py
Due: pylint

Restructure Glance formula with simplified includes
  formulas/glance/configure.sls
  formulas/glance/init.sls
  formulas/glance/install.sls
  formulas/glance/old/configure.sls
  formulas/glance/old/files/glance-api.conf
  formulas/glance/old/files/image_upload.sh
  formulas/glance/old/install.sls
Due: salt-lint

Add certificate and ingress configuration for Glance
  formulas/glance/configure.sls
Due: salt-lint

Add orchestration script for OpenStack Helm Glance deployment
  orch/k8s-osh-glance.sls
Due: salt-lint

Fix Glance configuration and update Swift to use Helm
  formulas/glance/configure.sls
  formulas/swift/configure.sls
  formulas/swift/init.sls
  formulas/swift/install.sls
  formulas/swift/old/configure.sls
  formulas/swift/old/install.sls
Due: salt-lint

Add orchestration script for OpenStack Helm Swift deployment
  orch/k8s-osh-swift.sls
Due: salt-lint

Update swift_internal_proxy names to use hyphens
  formulas/swift/configure.sls
Due: salt-lint

Fix Swift database auth configuration and dependencies
  formulas/swift/configure.sls
Due: salt-lint

Disable RGW in Rook Ceph cluster configuration
  formulas/common/k8s-rook/cluster.sls
Due: salt-lint

Fix formatting in rook-cluster.j2 and remove filesystem config
  formulas/common/k8s-rook/files/rook-cluster.j2
Due: salt-lint

Add Ceph Object Store deployment with Rook integration
  _modules/kinetic-k8s.py
  _states/k8s.py
  formulas/swift/configure.sls
Due: salt-lint, pylint

Remove Swift ingress configuration
  formulas/swift/configure.sls
Due: salt-lint

Fix indentation in k8s.py module functions
  _states/k8s.py
Due: pylint

Simplify ceph_object_store_present by removing duplicate definition
  _states/k8s.py
Due: pylint

Add Swift ingress configuration for external access
  formulas/swift/configure.sls
Due: salt-lint

Path conditions:
  salt-lint: any of: formulas/**/*, orch/**/*, reactor/**/*
  pylint: any of: _grains/**/*, _modules/**/*, _runners/**/*, _states/**/*
  pages: any of: site.yml, docs/**/*
